# CURSO USANDO PYTHON PARA ANÁLISE DE DADOS

https://www.udemy.com/usando-python-para-analise-de-dados

Evaldo Wolkers

## Carregando e armazenando dados em vários formatos de arquivos

### Lendo e escrevendo dados em formato texto

Podemos carregar dados de arquivos de texto separados por vírgula utilizando o read_csv. O read_csv retorna um objeto DataFrame com os dados do arquivo.

In [1]:
import pandas as pd

In [2]:
arq = pd.read_csv('snv_201807a_2.csv')
type(arq)

pandas.core.frame.DataFrame

In [3]:
arq

,UF,Unnamed: 1,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0","17,930.8"
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4","11,300.4"
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5","3,654.1"
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2","4,333.9"
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8","1,689.3"
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1","2,931.9"
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5","4,508.9"
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5","1,802.0"
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6","31,541.4"
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8","1,658.5"
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,"6,169.5"
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,"1,214.4"
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0","7,680.6"
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6","2,283.9"
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6","1,858.6"
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7","2,743.4"
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2","23,608.9"
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8","1,695.0"
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6","18,082.6"
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6","2,549.0"
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4","6,549.4"
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4","28,876.0"
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5","6,375.9"
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

Veja o que acontece se carregarmos um arquivo que tenha outro caracter como separador (ponto e vírgula, por exemplo). O read_csv entende a linha inteira como pertencendo a uma única coluna.

In [5]:
arq = pd.read_csv('snv_201807a_2_pontoevirgula.csv')
arq

   UF;;PLANEJADA;TRAVESSIA;LEITO NATUAL;EM OBRAS IMP;IMPLANT;EM OBRAS PAV;SUB-TOTAL;PISTA SIMPLES;EM OBRAS DUP;PISTA DUPLA;SUB-TOTAL;TOTAL
0    DF ; Distrito Federal ; 170.2 ; -   ; -   ; -...
1    GO ; Goiás ;" 2;636.8 "; -   ; 100.7 ; -   ; ...
2    MS ; Mato Grosso do Sul ; 562.6 ; -   ; 225.5...
3    MT ; Mato Grosso ;" 1;528.0 "; -   ; 427.7 ; ...
4   Sub-Total;;" 4;897.6 "; -   ; 753.9 ; -   ; 40...
5    AL ; Alagoas ; 100.5 ; -   ; 49.0 ; -   ; -  ...
6    BA ; Bahia ;" 4;006.4 "; 39.8 ; 497.7 ; -   ;...
7    CE ; Ceará ;" 1;096.3 "; -   ; 42.0 ; 80.9 ; ...
8    MA ; Maranhão ;" 1;062.9 "; -   ; -   ; -   ;...
9    PB ; Paraíba ; 388.0 ; -   ; 18.3 ; -   ; 0.5...
10   PE ; Pernambuco ; 683.4 ; -   ; -   ; -   ; 9...
11   PI ; Piauí ;" 1;632.7 "; -   ; 52.7 ; -   ; 4...
12   RN ; Rio Grande do Norte ; 253.5 ; -   ; -   ...
13   SE ; Sergipe ; 100.4 ; -   ; -   ; -   ; -   ...
14  Sub-Total;;" 9;324.1 "; 39.8 ; 659.7 ; 80.9 ; ...
15   AC ; Acre ; 503.1 ; 0.2 ; -   ; -   ; -   ; 6...
16   AM ; Amazonas ;" 3;803.0 "; 30.5 ; -   ; -   ...
17   AP ; Amapá ; 193.0 ; -   ; -   ; -   ; 542.5 ...
18   PA ; Pará ;" 2;558.6 "; 64.7 ; 109.0 ; -   ;"...
19   RO ; Rondônia ; 165.0 ; 1.2 ; -   ; -   ; 182...
20   RR ; Roraima ; 184.7 ; -   ; -   ; -   ; 607....
21   TO ; Tocantins ; 626.2 ; 1.9 ; 199.7 ; 59.7 ;...
22  Sub-Total;;" 8;033.6 "; 98.5 ; 308.7 ; 59.7 ;"...
23   ES ; Espirito Santo ; 617.6 ; -   ; 50.9 ; - ...
24   MG ; Minas Gerais ;" 8;543.0 "; 1.1 ; 192.0 ;...
25   RJ ; Rio de Janeiro ; 839.5 ; -   ; -   ; -  ...
26   SP ; São Paulo ;" 5;427.0 "; -   ; -   ; -   ...
27  Sub-Total;;" 15;427.1 "; 1.1 ; 242.9 ; -   ; 3...
28   PR ; Paraná ;" 2;471.4 "; 0.8 ; -   ; -   ; -...
29   RS ; Rio Grande do Sul ;" 2;844.6 "; 5.7 ; - ...
30   SC ; Santa Catarina ;" 1;203.3 "; 1.2 ; -   ;...
31  Sub-Total;;" 6;519.3 "; 7.7 ; -   ; -   ; 141....
32  ;;" 44;201.7 "; 147.1 ;" 1;965.2 "; 140.6 ;" 6...

Neste caso, temos que informar o caracter separador usando "sep".

In [6]:
arq = pd.read_csv('snv_201807a_2_pontoevirgula.csv', sep=';')
arq

,UF,Unnamed: 1,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,2;636.8,-,100.7,-,-,178.7,279.4,2;597.3,18.7,791.9,3;407.9,6;324.1
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,3;706.9,-,70.1,3;777.0,4;602.7
3,MT,Mato Grosso,1;528.0,-,427.7,-,402.0,246.0,1;075.7,3;538.2,206.8,273.6,4;018.6,6;622.3
4,Sub-Total,NaN,4;897.6,-,753.9,-,403.4,460.9,1;618.2,9;924.9,225.5,1;264.6,11;415.0,17;930.8
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
6,BA,Bahia,4;006.4,39.8,497.7,-,272.4,258.7,1;068.6,6;029.7,69.8,125.9,6;225.4,11;300.4
7,CE,Ceará,1;096.3,-,42.0,80.9,189.0,44.4,356.3,2;092.3,32.3,76.9,2;201.5,3;654.1
8,MA,Maranhão,1;062.9,-,-,-,98.8,-,98.8,3;080.3,40.3,51.6,3;172.2,4;333.9
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,1;274.8,1;689.3
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,1;692.5,73.9,386.7,2;153.1,2;931.9
11,PI,Piauí,1;632.7,-,52.7,-,42.0,-,94.7,2;719.0,16.0,46.5,2;781.5,4;508.9
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,1;352.4,16.7,147.4,1;516.5,1;802.0
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
14,Sub-Total,NaN,9;324.1,39.8,659.7,80.9,730.1,315.2,1;825.7,18;599.9,512.2,1;279.5,20;391.6,31;541.4
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,1;140.0,-,8.8,1;148.8,1;658.5
16,AM,Amazonas,3;803.0,30.5,-,-,1;546.7,86.2,1;663.4,700.3,-,2.8,703.1,6;169.5
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,1;214.4
18,PA,Pará,2;558.6,64.7,109.0,-,1;504.3,721.0,2;399.0,2;652.4,-,70.6,2;723.0,7;680.6
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,1;795.9,-,88.7,1;884.6,2;283.9
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,1;033.4,-,17.2,1;050.6,1;858.6
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,1;645.8,-,62.9,1;708.7,2;743.4
22,Sub-Total,NaN,8;033.6,98.5,308.7,59.7,4;446.4,975.8,5;889.1,9;435.2,-,251.0,9;686.2,23;608.9
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,1;001.8,1;695.0
24,MG,Minas Gerais,8;543.0,1.1,192.0,-,337.3,173.6,704.0,7;587.2,134.5,1;113.9,8;835.6,18;082.6
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,1;072.1,26.0,593.5,1;691.6,2;549.0
26,SP,São Paulo,5;427.0,-,-,-,-,-,-,486.6,-,635.8,1;122.4,6;549.4
27,Sub-Total,NaN,15;427.1,1.1,242.9,-,345.9,207.6,797.5,10;086.6,160.5,2;404.3,12;651.4,28;876.0
28,PR,Paraná,2;471.4,0.8,-,-,-,93.2,94.0,2;991.8,91.4,727.3,3;810.5,6;375.9
29,RS,Rio Grande do Sul,2;844.6,5.7,-,-,141.9,28.2,175.8,4;958.8,268.1,398.8,5;625.7,8;646.1
30,SC,Santa Catarina,1;203.3,1.2,-,-,-,28.0,29.2,1;867.8,11.1,467.7,2;346.6,3;579.1
31,Sub-Total,NaN,6;519.3,7.7,-,-,141.9,149.4,299.0,9;818.4,370.6,1;593.8,11;782.8,18;601.1
32,NaN,NaN,44;201.7,147.1,1;965.2,140.6,6;067.7,2;108.9,10;429.5,57;865.0,1;268.8,6;793.2,65;927.0,120;558.2

Como nosso arquivo está muito grande, vamos limitar o número de linhas exibidas. Para isso, usaremos o nrows=numero_linhas.

In [7]:
arq = pd.read_csv('snv_201807a_2.csv', nrows=5)
arq

,UF,Unnamed: 1,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0","17,930.8"

Podemos configurar o pandas para limitar o número máximo de linhas exibida. Fazemos isso utilizando pd.options.display.max_rows=X, onde X é o número de linhas. Vamos definir 8, assim, serão exibidas as 4 primeiras linhas e as 4 últimas linhas.

In [8]:
pd.get_option("display.max_rows")

60

In [9]:
pd.options.display.max_rows=8

In [10]:
pd.get_option("display.max_rows")

8

Veja agora como será exibido o conteúdo da variável arq.

In [12]:
arq = pd.read_csv('snv_201807a_2.csv')
arq

,UF,Unnamed: 1,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

Nosso arquivo possui um cabeçalho, mas podemos nos deparar com arquivos que não tenham um cabeçalho. Eu fiz uma cópia do arquivo retirando a primeira linha, que é o cabeçalho. Veja como ficará ao carregarmos este novo arquivo.

In [13]:
arq = pd.read_csv('snv_201807a_2_semcabecalho.csv')
arq

,DF,Distrito Federal,170.2,-,- .1,- .2,- .3,- .4,- .5,82.5,- .6,129.0,211.5,381.7
0,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
1,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
2,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
3,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0","17,930.8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
29,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
30,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
31,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

A primeira linha com os dados será utilizada como o cabeçalho. Para isso, podemos usar o parâmetro header=None. Assim, o pandas vai gerar um cabeçalho.

In [14]:
arq = pd.read_csv('snv_201807a_2_semcabecalho.csv', header=None)
arq

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

Podemos também especificar o nome dos cabeçalhos das colunas.

In [15]:
names = ['Sigla UF', 'Descrição UF', 'PLANEJADA', 'TRAVESSIA', 'LEITO NATUAL','EM OBRAS IMP','IMPLANT',
         'EM OBRAS PAV','SUB-TOTAL','PISTA SIMPLES','EM OBRAS DUP','PISTA DUPLA','SUB-TOTAL.1','TOTAL']
arq = pd.read_csv('snv_201807a_2_semcabecalho.csv', names=names)
arq

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

Vamos agora utilizar a coluna com a descrição dos estados (Descrição UF) como índice do DataFrame. Para isso, podemos infomar a coluna no índice 1 com index_col=1 ou de nome 'Descrição UF' com index_col='Descrição UF'.

In [16]:
names = ['Sigla UF', 'Descrição UF', 'PLANEJADA', 'TRAVESSIA', 'LEITO NATUAL','EM OBRAS IMP','IMPLANT',
         'EM OBRAS PAV','SUB-TOTAL','PISTA SIMPLES','EM OBRAS DUP','PISTA DUPLA','SUB-TOTAL.1','TOTAL']
arq = pd.read_csv('snv_201807a_2_semcabecalho.csv', names=names, index_col=1)
arq

,Sigla UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
Descrição UF,,,,,,,,,,,,,
Distrito Federal,DF,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
Goiás,GO,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
Mato Grosso do Sul,MS,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
Mato Grosso,MT,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rio Grande do Sul,RS,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
Santa Catarina,SC,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
NaN,Sub-Total,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

In [17]:
names = ['Sigla UF', 'Descrição UF', 'PLANEJADA', 'TRAVESSIA', 'LEITO NATUAL','EM OBRAS IMP','IMPLANT',
         'EM OBRAS PAV','SUB-TOTAL','PISTA SIMPLES','EM OBRAS DUP','PISTA DUPLA','SUB-TOTAL.1','TOTAL']
arq = pd.read_csv('snv_201807a_2_semcabecalho.csv', names=names, index_col='Descrição UF')
arq

,Sigla UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
Descrição UF,,,,,,,,,,,,,
Distrito Federal,DF,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
Goiás,GO,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
Mato Grosso do Sul,MS,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
Mato Grosso,MT,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rio Grande do Sul,RS,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
Santa Catarina,SC,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
NaN,Sub-Total,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

Podemos definir mais de uma coluna como índice. Para exemplificar, vamos usar o arquivo "snv_201807a_2_DoisIndices.csv", onde copiei a linha do DF para termos 3 linhas referentes à Sigla UF.

In [26]:
names = ['Sigla UF', 'Descrição UF', 'PLANEJADA', 'TRAVESSIA', 'LEITO NATUAL','EM OBRAS IMP','IMPLANT',
         'EM OBRAS PAV','SUB-TOTAL','PISTA SIMPLES','EM OBRAS DUP','PISTA DUPLA','SUB-TOTAL.1','TOTAL']
arq = pd.read_csv('snv_201807a_2_DoisIndices.csv', names=names, index_col=['Sigla UF','Descrição UF'])
arq

                                PLANEJADA  TRAVESSIA  LEITO NATUAL  \
Sigla UF  Descrição UF
UF        NaN                   PLANEJADA  TRAVESSIA  LEITO NATUAL
 DF        Distrito Federal 1      170.2        -             -
           Distrito Federal 2      170.2        -             -
           Distrito Federal 3      170.2        -             -
...                                   ...        ...           ...
 RS        Rio Grande do Sul     2,844.6        5.7           -
 SC        Santa Catarina        1,203.3        1.2           -
Sub-Total NaN                    6,519.3        7.7           -
NaN       NaN                   44,201.7      147.1       1,965.2

                               EM OBRAS IMP    IMPLANT  EM OBRAS PAV  \
Sigla UF  Descrição UF
UF        NaN                  EM OBRAS IMP    IMPLANT  EM OBRAS PAV
 DF        Distrito Federal 1          -          -             -
           Distrito Federal 2          -          -             -
           Distrito Federal 3          -          -             -
...                                     ...        ...           ...
 RS        Rio Grande do Sul           -        141.9          28.2
 SC        Santa Catarina              -          -            28.0
Sub-Total NaN                          -        141.9         149.4
NaN       NaN                        140.6    6,067.7       2,108.9

                                SUB-TOTAL  PISTA SIMPLES  EM OBRAS DUP  \
Sigla UF  Descrição UF
UF        NaN                   SUB-TOTAL  PISTA SIMPLES  EM OBRAS DUP
 DF        Distrito Federal 1        -             82.5           -
           Distrito Federal 2        -             82.5           -
           Distrito Federal 3        -             82.5           -
...                                   ...            ...           ...
 RS        Rio Grande do Sul       175.8        4,958.8         268.1
 SC        Santa Catarina           29.2        1,867.8          11.1
Sub-Total NaN                      299.0        9,818.4         370.6
NaN       NaN                   10,429.5       57,865.0       1,268.8

                               PISTA DUPLA SUB-TOTAL.1        TOTAL
Sigla UF  Descrição UF
UF        NaN                  PISTA DUPLA   SUB-TOTAL        TOTAL
 DF        Distrito Federal 1       129.0       211.5        381.7
           Distrito Federal 2       129.0       211.5        381.7
           Distrito Federal 3       129.0       211.5        381.7
...                                    ...         ...          ...
 RS        Rio Grande do Sul        398.8     5,625.7      8,646.1
 SC        Santa Catarina           467.7     2,346.6      3,579.1
Sub-Total NaN                     1,593.8    11,782.8     18,601.1
NaN       NaN                     6,793.2    65,927.0    120,558.2

[36 rows x 12 columns]

Vamos agora aumentar a quantidade máxima de linhas para 50. E depois vamos carregar o arquivo “snv_201807a_2_semcabecalho.csv” novamente para uma variável denominada df.

In [30]:
pd.options.display.max_rows=50

In [31]:
df = pd.read_csv('snv_201807a_2_semcabecalho.csv', names=names)

Vamos utilizar ordenação e classificação. Assuntos vistos na aula anterior. Primeiro vamos ordenar o DataFrame pelo índice no eixo 0.

In [32]:
df.sort_index(axis=0)

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0","17,930.8"
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4","11,300.4"
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5","3,654.1"
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2","4,333.9"
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8","1,689.3"
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1","2,931.9"
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5","4,508.9"
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5","1,802.0"
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6","31,541.4"
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8","1,658.5"
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,"6,169.5"
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,"1,214.4"
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0","7,680.6"
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6","2,283.9"
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6","1,858.6"
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7","2,743.4"
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2","23,608.9"
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8","1,695.0"
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6","18,082.6"
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6","2,549.0"
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4","6,549.4"
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4","28,876.0"
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5","6,375.9"
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"

Agora vamos ordenar pelo índice no eixo 1.

In [33]:
df.sort_index(axis=1)

,Descrição UF,EM OBRAS DUP,EM OBRAS IMP,EM OBRAS PAV,IMPLANT,LEITO NATUAL,PISTA DUPLA,PISTA SIMPLES,PLANEJADA,SUB-TOTAL,SUB-TOTAL.1,Sigla UF,TOTAL,TRAVESSIA
0,Distrito Federal,-,-,-,-,-,129.0,82.5,170.2,-,211.5,DF,381.7,-
1,Goiás,18.7,-,178.7,-,100.7,791.9,"2,597.3","2,636.8",279.4,"3,407.9",GO,"6,324.1",-
2,Mato Grosso do Sul,-,-,36.2,1.4,225.5,70.1,"3,706.9",562.6,263.1,"3,777.0",MS,"4,602.7",-
3,Mato Grosso,206.8,-,246.0,402.0,427.7,273.6,"3,538.2","1,528.0","1,075.7","4,018.6",MT,"6,622.3",-
4,NaN,225.5,-,460.9,403.4,753.9,"1,264.6","9,924.9","4,897.6","1,618.2","11,415.0",Sub-Total,"17,930.8",-
5,Alagoas,182.7,-,4.4,-,49.0,91.5,473.6,100.5,53.4,747.8,AL,901.7,-
6,Bahia,69.8,-,258.7,272.4,497.7,125.9,"6,029.7","4,006.4","1,068.6","6,225.4",BA,"11,300.4",39.8
7,Ceará,32.3,80.9,44.4,189.0,42.0,76.9,"2,092.3","1,096.3",356.3,"2,201.5",CE,"3,654.1",-
8,Maranhão,40.3,-,-,98.8,-,51.6,"3,080.3","1,062.9",98.8,"3,172.2",MA,"4,333.9",-
9,Paraíba,2.9,-,7.7,0.5,18.3,273.3,998.6,388.0,26.5,"1,274.8",PB,"1,689.3",-
10,Pernambuco,73.9,-,-,95.4,-,386.7,"1,692.5",683.4,95.4,"2,153.1",PE,"2,931.9",-
11,Piauí,16.0,-,-,42.0,52.7,46.5,"2,719.0","1,632.7",94.7,"2,781.5",PI,"4,508.9",-
12,Rio Grande do Norte,16.7,-,-,32.0,-,147.4,"1,352.4",253.5,32.0,"1,516.5",RN,"1,802.0",-
13,Sergipe,77.6,-,-,-,-,79.7,161.5,100.4,-,318.8,SE,419.2,-
14,NaN,512.2,80.9,315.2,730.1,659.7,"1,279.5","18,599.9","9,324.1","1,825.7","20,391.6",Sub-Total,"31,541.4",39.8
15,Acre,-,-,6.4,-,-,8.8,"1,140.0",503.1,6.6,"1,148.8",AC,"1,658.5",0.2
16,Amazonas,-,-,86.2,"1,546.7",-,2.8,700.3,"3,803.0","1,663.4",703.1,AM,"6,169.5",30.5
17,Amapá,-,-,11.5,542.5,-,-,467.4,193.0,554.0,467.4,AP,"1,214.4",-
18,Pará,-,-,721.0,"1,504.3",109.0,70.6,"2,652.4","2,558.6","2,399.0","2,723.0",PA,"7,680.6",64.7
19,Rondônia,-,-,50.7,182.4,-,88.7,"1,795.9",165.0,234.3,"1,884.6",RO,"2,283.9",1.2
20,Roraima,-,-,15.5,607.8,-,17.2,"1,033.4",184.7,623.3,"1,050.6",RR,"1,858.6",-
21,Tocantins,-,59.7,84.5,62.7,199.7,62.9,"1,645.8",626.2,408.5,"1,708.7",TO,"2,743.4",1.9
22,NaN,-,59.7,975.8,"4,446.4",308.7,251.0,"9,435.2","8,033.6","5,889.1","9,686.2",Sub-Total,"23,608.9",98.5
23,Espirito Santo,-,-,24.7,-,50.9,61.1,940.7,617.6,75.6,"1,001.8",ES,"1,695.0",-
24,Minas Gerais,134.5,-,173.6,337.3,192.0,"1,113.9","7,587.2","8,543.0",704.0,"8,835.6",MG,"18,082.6",1.1
25,Rio de Janeiro,26.0,-,9.3,8.6,-,593.5,"1,072.1",839.5,17.9,"1,691.6",RJ,"2,549.0",-
26,São Paulo,-,-,-,-,-,635.8,486.6,"5,427.0",-,"1,122.4",SP,"6,549.4",-
27,NaN,160.5,-,207.6,345.9,242.9,"2,404.3","10,086.6","15,427.1",797.5,"12,651.4",Sub-Total,"28,876.0",1.1
28,Paraná,91.4,-,93.2,-,-,727.3,"2,991.8","2,471.4",94.0,"3,810.5",PR,"6,375.9",0.8
29,Rio Grande do Sul,268.1,-,28.2,141.9,-,398.8,"4,958.8","2,844.6",175.8,"5,625.7",RS,"8,646.1",5.7
30,Santa Catarina,11.1,-,28.0,-,-,467.7,"1,867.8","1,203.3",29.2,"2,346.6",SC,"3,579.1",1.2
31,NaN,370.6,-,149.4,141.9,-,"1,593.8","9,818.4","6,519.3",299.0,"11,782.8",Sub-Total,"18,601.1",7.7
32,NaN,"1,268.8",140.6,"2,108.9","6,067.7","1,965.2","6,793.2","57,865.0","44,201.7","10,429.5","65,927.0",NaN,"120,558.2",147.1

Agora vamos ordenar pelos dados da coluna total em ordem crescente e depois decrescente. Observe que a coluna será considerada como texto. Vai ser ordenado como texto.

In [34]:
df.sort_values(by="TOTAL")

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,"1,214.4"
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8","1,658.5"
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8","1,689.3"
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8","1,695.0"
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5","1,802.0"
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6","1,858.6"
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4","11,300.4"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0","17,930.8"
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6","18,082.6"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6","2,283.9"
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6","2,549.0"
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7","2,743.4"
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1","2,931.9"
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2","23,608.9"
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4","28,876.0"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5","3,654.1"
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6","31,541.4"
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2","4,333.9"
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5","4,508.9"
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,"6,169.5"
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5","6,375.9"
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4","6,549.4"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0","7,680.6"
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7

Agora vamos ordenar pelos dados da coluna total em ordem decrescente. Observe que a coluna será considerada como texto. Vai ser ordenado como texto.

In [35]:
df.sort_values(by="TOTAL", ascending=False)

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7","8,646.1"
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0","7,680.6"
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6","6,622.3"
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4","6,549.4"
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5","6,375.9"
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9","6,324.1"
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,"6,169.5"
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0","4,602.7"
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5","4,508.9"
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2","4,333.9"
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6","31,541.4"
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5","3,654.1"
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6","3,579.1"
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4","28,876.0"
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2","23,608.9"
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1","2,931.9"
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7","2,743.4"
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6","2,549.0"
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6","2,283.9"
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8","18,601.1"
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6","18,082.6"
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0","17,930.8"
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0","120,558.2"
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4","11,300.4"
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6","1,858.6"
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5","1,802.0"
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8","1,695.0"
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8","1,689.3"
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8","1,658.5"
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,"1,214.4"

Vamos remover os espaços no campo TOTAL, por exemplo, onde está assim " 6,324.1" vai ficar assim "6,324.1".

In [38]:
df['TOTAL'] = df['TOTAL'].str.strip()

Agora vamos remover as vírgulas do conteúdo do campo TOTAL.

In [39]:
df['TOTAL'].replace(',', '', regex=True, inplace=True)
df

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9",6324.1
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0",4602.7
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6",6622.3
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0",17930.8
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4",11300.4
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5",3654.1
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2",4333.9
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8",1689.3
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1",2931.9
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5",4508.9
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5",1802.0
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6",31541.4
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8",1658.5
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,6169.5
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,1214.4
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0",7680.6
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6",2283.9
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6",1858.6
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7",2743.4
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2",23608.9
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8",1695.0
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6",18082.6
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6",2549.0
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4",6549.4
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4",28876.0
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5",6375.9
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7",8646.1
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6",3579.1
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8",18601.1
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0",120558.2

Agora vou converter a coluna TOTAL para float.

In [40]:
df["TOTAL"] = pd.to_numeric(df["TOTAL"].astype(float))

Agora vamos ordenar novamente pelos valores da coluna TOTAL. Primeiro em ordem crescente.

In [42]:
df.sort_values(by="TOTAL")

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,1214.4
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8",1658.5
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8",1689.3
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8",1695.0
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5",1802.0
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6",1858.6
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6",2283.9
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6",2549.0
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7",2743.4
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1",2931.9
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6",3579.1
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5",3654.1
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2",4333.9
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5",4508.9
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0",4602.7
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,6169.5
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9",6324.1
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5",6375.9
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4",6549.4
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6",6622.3
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0",7680.6
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7",8646.1
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4",11300.4
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0",17930.8
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6",18082.6
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8",18601.1
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2",23608.9
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4",28876.0
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6",31541.4
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0",120558.2

Depois em ordem decrescente.

In [43]:
df.sort_values(by="TOTAL", ascending=False)

,Sigla UF,Descrição UF,PLANEJADA,TRAVESSIA,LEITO NATUAL,EM OBRAS IMP,IMPLANT,EM OBRAS PAV,SUB-TOTAL,PISTA SIMPLES,EM OBRAS DUP,PISTA DUPLA,SUB-TOTAL.1,TOTAL
32,NaN,NaN,"44,201.7",147.1,"1,965.2",140.6,"6,067.7","2,108.9","10,429.5","57,865.0","1,268.8","6,793.2","65,927.0",120558.2
14,Sub-Total,NaN,"9,324.1",39.8,659.7,80.9,730.1,315.2,"1,825.7","18,599.9",512.2,"1,279.5","20,391.6",31541.4
27,Sub-Total,NaN,"15,427.1",1.1,242.9,-,345.9,207.6,797.5,"10,086.6",160.5,"2,404.3","12,651.4",28876.0
22,Sub-Total,NaN,"8,033.6",98.5,308.7,59.7,"4,446.4",975.8,"5,889.1","9,435.2",-,251.0,"9,686.2",23608.9
31,Sub-Total,NaN,"6,519.3",7.7,-,-,141.9,149.4,299.0,"9,818.4",370.6,"1,593.8","11,782.8",18601.1
24,MG,Minas Gerais,"8,543.0",1.1,192.0,-,337.3,173.6,704.0,"7,587.2",134.5,"1,113.9","8,835.6",18082.6
4,Sub-Total,NaN,"4,897.6",-,753.9,-,403.4,460.9,"1,618.2","9,924.9",225.5,"1,264.6","11,415.0",17930.8
6,BA,Bahia,"4,006.4",39.8,497.7,-,272.4,258.7,"1,068.6","6,029.7",69.8,125.9,"6,225.4",11300.4
29,RS,Rio Grande do Sul,"2,844.6",5.7,-,-,141.9,28.2,175.8,"4,958.8",268.1,398.8,"5,625.7",8646.1
18,PA,Pará,"2,558.6",64.7,109.0,-,"1,504.3",721.0,"2,399.0","2,652.4",-,70.6,"2,723.0",7680.6
3,MT,Mato Grosso,"1,528.0",-,427.7,-,402.0,246.0,"1,075.7","3,538.2",206.8,273.6,"4,018.6",6622.3
26,SP,São Paulo,"5,427.0",-,-,-,-,-,-,486.6,-,635.8,"1,122.4",6549.4
28,PR,Paraná,"2,471.4",0.8,-,-,-,93.2,94.0,"2,991.8",91.4,727.3,"3,810.5",6375.9
1,GO,Goiás,"2,636.8",-,100.7,-,-,178.7,279.4,"2,597.3",18.7,791.9,"3,407.9",6324.1
16,AM,Amazonas,"3,803.0",30.5,-,-,"1,546.7",86.2,"1,663.4",700.3,-,2.8,703.1,6169.5
2,MS,Mato Grosso do Sul,562.6,-,225.5,-,1.4,36.2,263.1,"3,706.9",-,70.1,"3,777.0",4602.7
11,PI,Piauí,"1,632.7",-,52.7,-,42.0,-,94.7,"2,719.0",16.0,46.5,"2,781.5",4508.9
8,MA,Maranhão,"1,062.9",-,-,-,98.8,-,98.8,"3,080.3",40.3,51.6,"3,172.2",4333.9
7,CE,Ceará,"1,096.3",-,42.0,80.9,189.0,44.4,356.3,"2,092.3",32.3,76.9,"2,201.5",3654.1
30,SC,Santa Catarina,"1,203.3",1.2,-,-,-,28.0,29.2,"1,867.8",11.1,467.7,"2,346.6",3579.1
10,PE,Pernambuco,683.4,-,-,-,95.4,-,95.4,"1,692.5",73.9,386.7,"2,153.1",2931.9
21,TO,Tocantins,626.2,1.9,199.7,59.7,62.7,84.5,408.5,"1,645.8",-,62.9,"1,708.7",2743.4
25,RJ,Rio de Janeiro,839.5,-,-,-,8.6,9.3,17.9,"1,072.1",26.0,593.5,"1,691.6",2549.0
19,RO,Rondônia,165.0,1.2,-,-,182.4,50.7,234.3,"1,795.9",-,88.7,"1,884.6",2283.9
20,RR,Roraima,184.7,-,-,-,607.8,15.5,623.3,"1,033.4",-,17.2,"1,050.6",1858.6
12,RN,Rio Grande do Norte,253.5,-,-,-,32.0,-,32.0,"1,352.4",16.7,147.4,"1,516.5",1802.0
23,ES,Espirito Santo,617.6,-,50.9,-,-,24.7,75.6,940.7,-,61.1,"1,001.8",1695.0
9,PB,Paraíba,388.0,-,18.3,-,0.5,7.7,26.5,998.6,2.9,273.3,"1,274.8",1689.3
15,AC,Acre,503.1,0.2,-,-,-,6.4,6.6,"1,140.0",-,8.8,"1,148.8",1658.5
17,AP,Amapá,193.0,-,-,-,542.5,11.5,554.0,467.4,-,-,467.4,1214.4
5,AL,Alagoas,100.5,-,49.0,-,-,4.4,53.4,473.6,182.7,91.5,747.8,901.7
13,SE,Sergipe,100.4,-,-,-,-,-,-,161.5,77.6,79.7,318.8,419.2
0,DF,Distrito Federal,170.2,-,-,-,-,-,-,82.5,-,129.0,211.5,381.7

Vamos agora carregar um arquivo contendo a lista de times que ganharam o Brasileirão desde o primeiro campeonato até o de 2018.

In [44]:
df = pd.read_csv('BrasileiraoTimes.csv')
df

                    Campeão
0                 Palmeiras
1               Corinthians
2                 Palmeiras
3               Corinthians
4                  Cruzeiro
5                  Cruzeiro
6                Fluminense
7               Corinthians
8                Fluminense
9                  Flamengo
10                São Paulo
11                São Paulo
12                São Paulo
13              Corinthians
14                   Santos
15                 Cruzeiro
16                   Santos
17      Atletico Paranaense
18            Vasco da Gama
19              Corinthians
20              Corinthians
21            Vasco da Gama
22                   Grêmio
23                 Botafogo
24                Palmeiras
25                Palmeiras
26                 Flamengo
27                São Paulo
28              Corinthians
29            Vasco da Gama
30                    Bahia
31                    Sport
32                São Paulo
33                 Coritiba
34               Fluminense
35                 Flamengo
36                 Flamengo
37                   Grêmio
38                 Flamengo
39  Internacional (Invicto)
40                  Guarani
41                São Paulo
42            Internacional
43            Internacional
44            Vasco da Gama
45                Palmeiras
46                Palmeiras
47         Atletico Mineiro

Agora vamos gerar o ranking de acordo com a quantidade de vezes que um determinado time aparece na lista.

In [45]:
df.rank()

    Campeão
0      32.5
1       8.0
2      32.5
3       8.0
4      14.0
5      14.0
6      22.0
7       8.0
8      22.0
9      18.0
10     41.5
11     41.5
12     41.5
13      8.0
14     36.5
15     14.0
16     36.5
17      2.0
18     46.5
19      8.0
20      8.0
21     46.5
22     24.5
23      4.0
24     32.5
25     32.5
26     18.0
27     41.5
28      8.0
29     46.5
30      3.0
31     38.0
32     41.5
33     12.0
34     22.0
35     18.0
36     18.0
37     24.5
38     18.0
39     29.0
40     26.0
41     41.5
42     27.5
43     27.5
44     46.5
45     32.5
46     32.5
47      1.0

Vamos agora carregar os dados de um arquivo cujas colunas são separadas por espaços, porém, não há um padrão, o número de espaços é variado.

Veja o conteúdo do arquivo:
NOME      IDADE      SEXO        UF
EVALDO           41        M        ES
MARIA   30     F      SP
JOAO    45   M          RJ
JOSE 15   M        MG

In [47]:
df = pd.read_csv('colunas_espaco_variado.txt')
df

      NOME      IDADE      SEXO        UF
0  EVALDO           41        M        ES
1                MARIA   30     F      SP
2              JOAO    45   M          RJ
3                   JOSE 15   M        MG

Ao tentar visualizar os dados da coluna NOME, um erro vai ocorrer.

In [48]:
df['NOME']

KeyError: 'NOME'

Para resolver este problema vamos informar uma expressão regular como separador. A expressão "\s" indica um espaço, adicionando o sinal de "+", indica um ou mais espaços.

In [49]:
df = pd.read_csv('colunas_espaco_variado.txt', sep='\s+')
df

     NOME  IDADE SEXO  UF
0  EVALDO     41    M  ES
1   MARIA     30    F  SP
2    JOAO     45    M  RJ
3    JOSE     15    M  MG

In [50]:
df['NOME']

0    EVALDO
1     MARIA
2      JOAO
3      JOSE
Name: NOME, dtype: object

Agora temos um arquivo denominado "ignorar_linhas.txt" que tem 4 linhas que devem ser ignoradas:

# Lista contendo nome,
# idade, sexo e uf
# 
NOME,IDADE,SEXO,UF
EVALDO,41,M,ES
MARIA,30,F,SP
JOAO,45,M,RJ
JOSE,15,M,MG
# Fim da lista

Para ignorar estas linhas podemos utilizar skiprows=lista, onde lista é uma lista de linhas a ignorar.

In [51]:
df = pd.read_csv('ignorar_linhas.txt', skiprows=[0,1,2,8])
df

     NOME  IDADE SEXO  UF
0  EVALDO     41    M  ES
1   MARIA     30    F  SP
2    JOAO     45    M  RJ
3    JOSE     15    M  MG

O read_csv também permite ler arquivos através de uma URL. A url abaixo retorna o arquivo gapminder-FiveYearData.csv que também está disponível junto aos arquivos desta aula. Se no momento que estiver assistindo a esta aula, o arquivo não estiver mais online, troca a URL pelo endereço local do arquivo e execute o exemplo normalmente. Esse arquivo tem 1705 linhas. Quando você for trabalhar com arquivos muito grandes, pode ser que prefira quebrar o arquivo em "pedaços", pegando assim, seu conteúdo, bloco por bloco. Vamos percorrer o arquivo deste exemplo, separando de 5 em 5 linhas. Para isso podemos usar o parâmetro chunksize (em tradução literal, tamanho do pedaço) do método read_csv.

In [60]:
url='http://bit.ly/2cLzoxH'

In [61]:
for pedaco in pd.read_csv(url, chunksize=5):
    print("--------------------")
    print(pedaco)
    print("--------------------")

--------------------
       country  year       pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333      Asia   28.801  779.445314
1  Afghanistan  1957   9240934      Asia   30.332  820.853030
2  Afghanistan  1962  10267083      Asia   31.997  853.100710
3  Afghanistan  1967  11537966      Asia   34.020  836.197138
4  Afghanistan  1972  13079460      Asia   36.088  739.981106
--------------------
--------------------
       country  year       pop continent  lifeExp   gdpPercap
5  Afghanistan  1977  14880372      Asia   38.438  786.113360
6  Afghanistan  1982  12881816      Asia   39.854  978.011439
7  Afghanistan  1987  13867957      Asia   40.822  852.395945
8  Afghanistan  1992  16317921      Asia   41.674  649.341395
9  Afghanistan  1997  22227415      Asia   41.763  635.341351
--------------------
--------------------
        country  year       pop continent  lifeExp    gdpPercap
10  Afghanistan  2002  25268405      Asia   42.129   726.734055
11  Afghanistan  2007  31889923      Asia   43.828   974.580338
12      Albania  1952   1282697    Europe   55.230  1601.056136
13      Albania  1957   1476505    Europe   59.280  1942.284244
14      Albania  1962   1728137    Europe   64.820  2312.888958
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
15  Albania  1967  1984060    Europe    66.22  2760.196931
16  Albania  1972  2263554    Europe    67.69  3313.422188
17  Albania  1977  2509048    Europe    68.93  3533.003910
18  Albania  1982  2780097    Europe    70.42  3630.880722
19  Albania  1987  3075321    Europe    72.00  3738.932735
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
20  Albania  1992  3326498    Europe   71.581  2497.437901
21  Albania  1997  3428038    Europe   72.950  3193.054604
22  Albania  2002  3508512    Europe   75.651  4604.211737
23  Albania  2007  3600523    Europe   76.423  5937.029526
24  Algeria  1952  9279525    Africa   43.077  2449.008185
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
25  Algeria  1957  10270856    Africa   45.685  3013.976023
26  Algeria  1962  11000948    Africa   48.303  2550.816880
27  Algeria  1967  12760499    Africa   51.407  3246.991771
28  Algeria  1972  14760787    Africa   54.518  4182.663766
29  Algeria  1977  17152804    Africa   58.014  4910.416756
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
30  Algeria  1982  20033753    Africa   61.368  5745.160213
31  Algeria  1987  23254956    Africa   65.799  5681.358539
32  Algeria  1992  26298373    Africa   67.744  5023.216647
33  Algeria  1997  29072015    Africa   69.152  4797.295051
34  Algeria  2002  31287142    Africa   70.994  5288.040382
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
35  Algeria  2007  33333216    Africa   72.301  6223.367465
36   Angola  1952   4232095    Africa   30.015  3520.610273
37   Angola  1957   4561361    Africa   31.999  3827.940465
38   Angola  1962   4826015    Africa   34.000  4269.276742
39   Angola  1967   5247469    Africa   35.985  5522.776375
--------------------
--------------------
   country  year      pop continent  lifeExp    gdpPercap
40  Angola  1972  5894858    Africa   37.928  5473.288005
41  Angola  1977  6162675    Africa   39.483  3008.647355
42  Angola  1982  7016384    Africa   39.942  2756.953672
43  Angola  1987  7874230    Africa   39.906  2430.208311
44  Angola  1992  8735988    Africa   40.647  2627.845685
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
45     Angola  1997   9875024    Africa   40.963  2277.140884
46     Angola  2002  10866106    Africa   41.003  2773.287312
47     Angola  2007  12420476    Africa   42.731  4797.231267
48  Argentina  1952  17876956  Americas   62.485  5911.315053
49  Argentina  1957  19610538  Americas   64.399  6856.856212
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
50  Argentina  1962  21283783  Americas   65.142   7133.166023
51  Argentina  1967  22934225  Americas   65.634   8052.953021
52  Argentina  1972  24779799  Americas   67.065   9443.038526
53  Argentina  1977  26983828  Americas   68.481  10079.026740
54  Argentina  1982  29341374  Americas   69.942   8997.897412
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
55  Argentina  1987  31620918  Americas   70.774   9139.671389
56  Argentina  1992  33958947  Americas   71.868   9308.418710
57  Argentina  1997  36203463  Americas   73.275  10967.281950
58  Argentina  2002  38331121  Americas   74.340   8797.640716
59  Argentina  2007  40301927  Americas   75.320  12779.379640
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
60  Australia  1952   8691212   Oceania    69.12  10039.59564
61  Australia  1957   9712569   Oceania    70.33  10949.64959
62  Australia  1962  10794968   Oceania    70.93  12217.22686
63  Australia  1967  11872264   Oceania    71.10  14526.12465
64  Australia  1972  13177000   Oceania    71.93  16788.62948
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
65  Australia  1977  14074100   Oceania    73.49  18334.19751
66  Australia  1982  15184200   Oceania    74.74  19477.00928
67  Australia  1987  16257249   Oceania    76.32  21888.88903
68  Australia  1992  17481977   Oceania    77.56  23424.76683
69  Australia  1997  18565243   Oceania    78.83  26997.93657
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
70  Australia  2002  19546792   Oceania   80.370  30687.754730
71  Australia  2007  20434176   Oceania   81.235  34435.367440
72    Austria  1952   6927772    Europe   66.800   6137.076492
73    Austria  1957   6965860    Europe   67.480   8842.598030
74    Austria  1962   7129864    Europe   69.540  10750.721110
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
75  Austria  1967  7376998    Europe    70.14  12834.60240
76  Austria  1972  7544201    Europe    70.63  16661.62560
77  Austria  1977  7568430    Europe    72.17  19749.42230
78  Austria  1982  7574613    Europe    73.18  21597.08362
79  Austria  1987  7578903    Europe    74.94  23687.82607
--------------------
--------------------
    country  year      pop continent  lifeExp     gdpPercap
80  Austria  1992  7914969    Europe   76.040  27042.018680
81  Austria  1997  8069876    Europe   77.510  29095.920660
82  Austria  2002  8148312    Europe   78.980  32417.607690
83  Austria  2007  8199783    Europe   79.829  36126.492700
84  Bahrain  1952   120447      Asia   50.939   9867.084765
--------------------
--------------------
    country  year     pop continent  lifeExp    gdpPercap
85  Bahrain  1957  138655      Asia   53.832  11635.79945
86  Bahrain  1962  171863      Asia   56.923  12753.27514
87  Bahrain  1967  202182      Asia   59.923  14804.67270
88  Bahrain  1972  230800      Asia   63.300  18268.65839
89  Bahrain  1977  297410      Asia   65.593  19340.10196
--------------------
--------------------
    country  year     pop continent  lifeExp    gdpPercap
90  Bahrain  1982  377967      Asia   69.052  19211.14731
91  Bahrain  1987  454612      Asia   70.750  18524.02406
92  Bahrain  1992  529491      Asia   72.601  19035.57917
93  Bahrain  1997  598561      Asia   73.925  20292.01679
94  Bahrain  2002  656397      Asia   74.795  23403.55927
--------------------
--------------------
       country  year       pop continent  lifeExp     gdpPercap
95     Bahrain  2007    708573      Asia   75.635  29796.048340
96  Bangladesh  1952  46886859      Asia   37.484    684.244172
97  Bangladesh  1957  51365468      Asia   39.348    661.637458
98  Bangladesh  1962  56839289      Asia   41.216    686.341554
99  Bangladesh  1967  62821884      Asia   43.453    721.186086
--------------------
--------------------
        country  year        pop continent  lifeExp   gdpPercap
100  Bangladesh  1972   70759295      Asia   45.252  630.233627
101  Bangladesh  1977   80428306      Asia   46.923  659.877232
102  Bangladesh  1982   93074406      Asia   50.009  676.981866
103  Bangladesh  1987  103764241      Asia   52.819  751.979403
104  Bangladesh  1992  113704579      Asia   56.018  837.810164
--------------------
--------------------
        country  year        pop continent  lifeExp    gdpPercap
105  Bangladesh  1997  123315288      Asia   59.412   972.770035
106  Bangladesh  2002  135656790      Asia   62.013  1136.390430
107  Bangladesh  2007  150448339      Asia   64.062  1391.253792
108     Belgium  1952    8730405    Europe   68.000  8343.105127
109     Belgium  1957    8989111    Europe   69.240  9714.960623
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
110  Belgium  1962  9218400    Europe    70.25  10991.20676
111  Belgium  1967  9556500    Europe    70.94  13149.04119
112  Belgium  1972  9709100    Europe    71.44  16672.14356
113  Belgium  1977  9821800    Europe    72.80  19117.97448
114  Belgium  1982  9856303    Europe    73.93  20979.84589
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
115  Belgium  1987   9870200    Europe   75.350  22525.56308
116  Belgium  1992  10045622    Europe   76.460  25575.57069
117  Belgium  1997  10199787    Europe   77.530  27561.19663
118  Belgium  2002  10311970    Europe   78.320  30485.88375
119  Belgium  2007  10392226    Europe   79.441  33692.60508
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
120   Benin  1952  1738315    Africa   38.223  1062.752200
121   Benin  1957  1925173    Africa   40.358   959.601080
122   Benin  1962  2151895    Africa   42.618   949.499064
123   Benin  1967  2427334    Africa   44.885  1035.831411
124   Benin  1972  2761407    Africa   47.014  1085.796879
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
125   Benin  1977  3168267    Africa   49.190  1029.161251
126   Benin  1982  3641603    Africa   50.904  1277.897616
127   Benin  1987  4243788    Africa   52.337  1225.856010
128   Benin  1992  4981671    Africa   53.919  1191.207681
129   Benin  1997  6066080    Africa   54.777  1232.975292
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
130    Benin  2002  7026113    Africa   54.406  1372.877931
131    Benin  2007  8078314    Africa   56.728  1441.284873
132  Bolivia  1952  2883315  Americas   40.414  2677.326347
133  Bolivia  1957  3211738  Americas   41.890  2127.686326
134  Bolivia  1962  3593918  Americas   43.428  2180.972546
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
135  Bolivia  1967  4040665  Americas   45.032  2586.886053
136  Bolivia  1972  4565872  Americas   46.714  2980.331339
137  Bolivia  1977  5079716  Americas   50.023  3548.097832
138  Bolivia  1982  5642224  Americas   53.859  3156.510452
139  Bolivia  1987  6156369  Americas   57.251  2753.691490
--------------------
--------------------
                    country  year      pop continent  lifeExp    gdpPercap
140                 Bolivia  1992  6893451  Americas   59.957  2961.699694
141                 Bolivia  1997  7693188  Americas   62.050  3326.143191
142                 Bolivia  2002  8445134  Americas   63.883  3413.262690
143                 Bolivia  2007  9119152  Americas   65.554  3822.137084
144  Bosnia and Herzegovina  1952  2791000    Europe   53.820   973.533195
--------------------
--------------------
                    country  year      pop continent  lifeExp    gdpPercap
145  Bosnia and Herzegovina  1957  3076000    Europe    58.45  1353.989176
146  Bosnia and Herzegovina  1962  3349000    Europe    61.93  1709.683679
147  Bosnia and Herzegovina  1967  3585000    Europe    64.79  2172.352423
148  Bosnia and Herzegovina  1972  3819000    Europe    67.45  2860.169750
149  Bosnia and Herzegovina  1977  4086000    Europe    69.86  3528.481305
--------------------
--------------------
                    country  year      pop continent  lifeExp    gdpPercap
150  Bosnia and Herzegovina  1982  4172693    Europe   70.690  4126.613157
151  Bosnia and Herzegovina  1987  4338977    Europe   71.140  4314.114757
152  Bosnia and Herzegovina  1992  4256013    Europe   72.178  2546.781445
153  Bosnia and Herzegovina  1997  3607000    Europe   73.244  4766.355904
154  Bosnia and Herzegovina  2002  4165416    Europe   74.090  6018.975239
--------------------
--------------------
                    country  year      pop continent  lifeExp    gdpPercap
155  Bosnia and Herzegovina  2007  4552198    Europe   74.852  7446.298803
156                Botswana  1952   442308    Africa   47.622   851.241141
157                Botswana  1957   474639    Africa   49.618   918.232535
158                Botswana  1962   512764    Africa   51.520   983.653976
159                Botswana  1967   553541    Africa   53.298  1214.709294
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
160  Botswana  1972   619351    Africa   56.024  2263.611114
161  Botswana  1977   781472    Africa   59.319  3214.857818
162  Botswana  1982   970347    Africa   61.484  4551.142150
163  Botswana  1987  1151184    Africa   63.622  6205.883850
164  Botswana  1992  1342614    Africa   62.745  7954.111645
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
165  Botswana  1997   1536536    Africa   52.556   8647.142313
166  Botswana  2002   1630347    Africa   46.634  11003.605080
167  Botswana  2007   1639131    Africa   50.728  12569.851770
168    Brazil  1952  56602560  Americas   50.917   2108.944355
169    Brazil  1957  65551171  Americas   53.285   2487.365989
--------------------
--------------------
    country  year        pop continent  lifeExp    gdpPercap
170  Brazil  1962   76039390  Americas   55.665  3336.585802
171  Brazil  1967   88049823  Americas   57.632  3429.864357
172  Brazil  1972  100840058  Americas   59.504  4985.711467
173  Brazil  1977  114313951  Americas   61.489  6660.118654
174  Brazil  1982  128962939  Americas   63.336  7030.835878
--------------------
--------------------
    country  year        pop continent  lifeExp    gdpPercap
175  Brazil  1987  142938076  Americas   65.205  7807.095818
176  Brazil  1992  155975974  Americas   67.057  6950.283021
177  Brazil  1997  168546719  Americas   69.388  7957.980824
178  Brazil  2002  179914212  Americas   71.006  8131.212843
179  Brazil  2007  190010647  Americas   72.390  9065.800825
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
180  Bulgaria  1952  7274900    Europe    59.60  2444.286648
181  Bulgaria  1957  7651254    Europe    66.61  3008.670727
182  Bulgaria  1962  8012946    Europe    69.51  4254.337839
183  Bulgaria  1967  8310226    Europe    70.42  5577.002800
184  Bulgaria  1972  8576200    Europe    70.90  6597.494398
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
185  Bulgaria  1977  8797022    Europe    70.81  7612.240438
186  Bulgaria  1982  8892098    Europe    71.08  8224.191647
187  Bulgaria  1987  8971958    Europe    71.34  8239.854824
188  Bulgaria  1992  8658506    Europe    71.19  6302.623438
189  Bulgaria  1997  8066057    Europe    70.32  5970.388760
--------------------
--------------------
          country  year      pop continent  lifeExp     gdpPercap
190      Bulgaria  2002  7661799    Europe   72.140   7696.777725
191      Bulgaria  2007  7322858    Europe   73.005  10680.792820
192  Burkina Faso  1952  4469979    Africa   31.975    543.255241
193  Burkina Faso  1957  4713416    Africa   34.906    617.183465
194  Burkina Faso  1962  4919632    Africa   37.814    722.512021
--------------------
--------------------
          country  year      pop continent  lifeExp   gdpPercap
195  Burkina Faso  1967  5127935    Africa   40.697  794.826560
196  Burkina Faso  1972  5433886    Africa   43.591  854.735976
197  Burkina Faso  1977  5889574    Africa   46.137  743.387037
198  Burkina Faso  1982  6634596    Africa   48.122  807.198586
199  Burkina Faso  1987  7586551    Africa   49.557  912.063142
--------------------
--------------------
          country  year       pop continent  lifeExp    gdpPercap
200  Burkina Faso  1992   8878303    Africa   50.260   931.752773
201  Burkina Faso  1997  10352843    Africa   50.324   946.294962
202  Burkina Faso  2002  12251209    Africa   50.650  1037.645221
203  Burkina Faso  2007  14326203    Africa   52.295  1217.032994
204       Burundi  1952   2445618    Africa   39.031   339.296459
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
205  Burundi  1957  2667518    Africa   40.533  379.564628
206  Burundi  1962  2961915    Africa   42.045  355.203227
207  Burundi  1967  3330989    Africa   43.548  412.977514
208  Burundi  1972  3529983    Africa   44.057  464.099504
209  Burundi  1977  3834415    Africa   45.910  556.103265
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
210  Burundi  1982  4580410    Africa   47.471  559.603231
211  Burundi  1987  5126023    Africa   48.211  621.818819
212  Burundi  1992  5809236    Africa   44.736  631.699878
213  Burundi  1997  6121610    Africa   45.326  463.115148

214  Burundi  2002  7021078    Africa   47.360  446.403513
--------------------
--------------------
      country  year      pop continent  lifeExp   gdpPercap
215   Burundi  2007  8390505    Africa   49.580  430.070692
216  Cambodia  1952  4693836      Asia   39.417  368.469286
217  Cambodia  1957  5322536      Asia   41.366  434.038336
218  Cambodia  1962  6083619      Asia   43.415  496.913648
219  Cambodia  1967  6960067      Asia   45.415  523.432314
--------------------
--------------------
      country  year       pop continent  lifeExp   gdpPercap
220  Cambodia  1972   7450606      Asia   40.317  421.624026
221  Cambodia  1977   6978607      Asia   31.220  524.972183
222  Cambodia  1982   7272485      Asia   50.957  624.475478
223  Cambodia  1987   8371791      Asia   53.914  683.895573
224  Cambodia  1992  10150094      Asia   55.803  682.303175
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
225  Cambodia  1997  11782962      Asia   56.534   734.285170
226  Cambodia  2002  12926707      Asia   56.752   896.226015
227  Cambodia  2007  14131858      Asia   59.723  1713.778686
228  Cameroon  1952   5009067    Africa   38.523  1172.667655
229  Cameroon  1957   5359923    Africa   40.428  1313.048099
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
230  Cameroon  1962  5793633    Africa   42.643  1399.607441
231  Cameroon  1967  6335506    Africa   44.799  1508.453148
232  Cameroon  1972  7021028    Africa   47.049  1684.146528
233  Cameroon  1977  7959865    Africa   49.355  1783.432873
234  Cameroon  1982  9250831    Africa   52.961  2367.983282
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
235  Cameroon  1987  10780667    Africa   54.985  2602.664206
236  Cameroon  1992  12467171    Africa   54.314  1793.163278
237  Cameroon  1997  14195809    Africa   52.199  1694.337469
238  Cameroon  2002  15929988    Africa   49.856  1934.011449
239  Cameroon  2007  17696293    Africa   50.430  2042.095240
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
240  Canada  1952  14785584  Americas    68.75  11367.16112
241  Canada  1957  17010154  Americas    69.96  12489.95006
242  Canada  1962  18985849  Americas    71.30  13462.48555
243  Canada  1967  20819767  Americas    72.13  16076.58803
244  Canada  1972  22284500  Americas    72.88  18970.57086
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
245  Canada  1977  23796400  Americas    74.21  22090.88306
246  Canada  1982  25201900  Americas    75.76  22898.79214
247  Canada  1987  26549700  Americas    76.86  26626.51503
248  Canada  1992  28523502  Americas    77.95  26342.88426
249  Canada  1997  30305843  Americas    78.61  28954.92589
--------------------
--------------------
                      country  year       pop continent  lifeExp     gdpPercap
250                    Canada  2002  31902268  Americas   79.770  33328.965070
251                    Canada  2007  33390141  Americas   80.653  36319.235010
252  Central African Republic  1952   1291695    Africa   35.463   1071.310713
253  Central African Republic  1957   1392284    Africa   37.464   1190.844328
254  Central African Republic  1962   1523478    Africa   39.475   1193.068753
--------------------
--------------------
                      country  year      pop continent  lifeExp    gdpPercap
255  Central African Republic  1967  1733638    Africa   41.478  1136.056615
256  Central African Republic  1972  1927260    Africa   43.457  1070.013275
257  Central African Republic  1977  2167533    Africa   46.775  1109.374338
258  Central African Republic  1982  2476971    Africa   48.295   956.752991
259  Central African Republic  1987  2840009    Africa   50.485   844.876350
--------------------
--------------------
                      country  year      pop continent  lifeExp    gdpPercap
260  Central African Republic  1992  3265124    Africa   49.396   747.905525
261  Central African Republic  1997  3696513    Africa   46.066   740.506332
262  Central African Republic  2002  4048013    Africa   43.308   738.690607
263  Central African Republic  2007  4369038    Africa   44.741   706.016537
264                      Chad  1952  2682462    Africa   38.092  1178.665927
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
265    Chad  1957  2894855    Africa   39.881  1308.495577
266    Chad  1962  3150417    Africa   41.716  1389.817618
267    Chad  1967  3495967    Africa   43.601  1196.810565
268    Chad  1972  3899068    Africa   45.569  1104.103987
269    Chad  1977  4388260    Africa   47.383  1133.984950
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
270    Chad  1982  4875118    Africa   49.517   797.908101
271    Chad  1987  5498955    Africa   51.051   952.386129
272    Chad  1992  6429417    Africa   51.724  1058.064300
273    Chad  1997  7562011    Africa   51.573  1004.961353
274    Chad  2002  8835739    Africa   50.525  1156.181860
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
275    Chad  2007  10238807    Africa   50.651  1704.063724
276   Chile  1952   6377619  Americas   54.745  3939.978789
277   Chile  1957   7048426  Americas   56.074  4315.622723
278   Chile  1962   7961258  Americas   57.924  4519.094331
279   Chile  1967   8858908  Americas   60.523  5106.654313
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
280   Chile  1972   9717524  Americas   63.441  5494.024437
281   Chile  1977  10599793  Americas   67.052  4756.763836
282   Chile  1982  11487112  Americas   70.565  5095.665738
283   Chile  1987  12463354  Americas   72.492  5547.063754
284   Chile  1992  13572994  Americas   74.126  7596.125964
--------------------
--------------------
    country  year           pop continent   lifeExp     gdpPercap
285   Chile  1997  1.459993e+07  Americas  75.81600  10118.053180
286   Chile  2002  1.549705e+07  Americas  77.86000  10778.783850
287   Chile  2007  1.628474e+07  Americas  78.55300  13171.638850
288   China  1952  5.562635e+08      Asia  44.00000    400.448611
289   China  1957  6.374080e+08      Asia  50.54896    575.987001
--------------------
--------------------
    country  year         pop continent   lifeExp   gdpPercap
290   China  1962   665770000      Asia  44.50136  487.674018
291   China  1967   754550000      Asia  58.38112  612.705693
292   China  1972   862030000      Asia  63.11888  676.900092
293   China  1977   943455000      Asia  63.96736  741.237470
294   China  1982  1000281000      Asia  65.52500  962.421380
--------------------
--------------------
    country  year         pop continent  lifeExp    gdpPercap
295   China  1987  1084035000      Asia   67.274  1378.904018
296   China  1992  1164970000      Asia   68.690  1655.784158
297   China  1997  1230075000      Asia   70.426  2289.234136
298   China  2002  1280400000      Asia   72.028  3119.280896
299   China  2007  1318683096      Asia   72.961  4959.114854
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
300  Colombia  1952  12350771  Americas   50.643  2144.115096
301  Colombia  1957  14485993  Americas   55.118  2323.805581
302  Colombia  1962  17009885  Americas   57.863  2492.351109
303  Colombia  1967  19764027  Americas   59.963  2678.729839
304  Colombia  1972  22542890  Americas   61.623  3264.660041
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
305  Colombia  1977  25094412  Americas   63.837  3815.807870
306  Colombia  1982  27764644  Americas   66.653  4397.575659
307  Colombia  1987  30964245  Americas   67.768  4903.219100
308  Colombia  1992  34202721  Americas   68.421  5444.648617
309  Colombia  1997  37657830  Americas   70.313  6117.361746
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
310  Colombia  2002  41008227  Americas   71.682  5755.259962
311  Colombia  2007  44227550  Americas   72.889  7006.580419
312   Comoros  1952    153936    Africa   40.715  1102.990936
313   Comoros  1957    170928    Africa   42.460  1211.148548
314   Comoros  1962    191689    Africa   44.467  1406.648278
--------------------
--------------------
     country  year     pop continent  lifeExp    gdpPercap
315  Comoros  1967  217378    Africa   46.472  1876.029643
316  Comoros  1972  250027    Africa   48.944  1937.577675
317  Comoros  1977  304739    Africa   50.939  1172.603047
318  Comoros  1982  348643    Africa   52.933  1267.100083
319  Comoros  1987  395114    Africa   54.926  1315.980812
--------------------
--------------------
             country  year       pop continent  lifeExp    gdpPercap
320          Comoros  1992    454429    Africa   57.939  1246.907370
321          Comoros  1997    527982    Africa   60.660  1173.618235
322          Comoros  2002    614382    Africa   62.974  1075.811558
323          Comoros  2007    710960    Africa   65.152   986.147879
324  Congo Dem. Rep.  1952  14100005    Africa   39.143   780.542326
--------------------
--------------------
             country  year       pop continent  lifeExp   gdpPercap
325  Congo Dem. Rep.  1957  15577932    Africa   40.652  905.860230
326  Congo Dem. Rep.  1962  17486434    Africa   42.122  896.314634
327  Congo Dem. Rep.  1967  19941073    Africa   44.056  861.593242
328  Congo Dem. Rep.  1972  23007669    Africa   45.989  904.896069
329  Congo Dem. Rep.  1977  26480870    Africa   47.804  795.757282
--------------------
--------------------
             country  year       pop continent  lifeExp   gdpPercap
330  Congo Dem. Rep.  1982  30646495    Africa   47.784  673.747818
331  Congo Dem. Rep.  1987  35481645    Africa   47.412  672.774812
332  Congo Dem. Rep.  1992  41672143    Africa   45.548  457.719181
333  Congo Dem. Rep.  1997  47798986    Africa   42.587  312.188423
334  Congo Dem. Rep.  2002  55379852    Africa   44.966  241.165877
--------------------
--------------------
             country  year       pop continent  lifeExp    gdpPercap
335  Congo Dem. Rep.  2007  64606759    Africa   46.462   277.551859
336       Congo Rep.  1952    854885    Africa   42.111  2125.621418
337       Congo Rep.  1957    940458    Africa   45.053  2315.056572
338       Congo Rep.  1962   1047924    Africa   48.435  2464.783157
339       Congo Rep.  1967   1179760    Africa   52.040  2677.939642
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
340  Congo Rep.  1972  1340458    Africa   54.907  3213.152683
341  Congo Rep.  1977  1536769    Africa   55.625  3259.178978
342  Congo Rep.  1982  1774735    Africa   56.695  4879.507522
343  Congo Rep.  1987  2064095    Africa   57.470  4201.194937
344  Congo Rep.  1992  2409073    Africa   56.433  4016.239529
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
345  Congo Rep.  1997  2800947    Africa   52.962  3484.164376
346  Congo Rep.  2002  3328795    Africa   52.970  3484.061970
347  Congo Rep.  2007  3800610    Africa   55.322  3632.557798
348  Costa Rica  1952   926317  Americas   57.206  2627.009471
349  Costa Rica  1957  1112300  Americas   60.026  2990.010802
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
350  Costa Rica  1962  1345187  Americas   62.842  3460.937025
351  Costa Rica  1967  1588717  Americas   65.424  4161.727834
352  Costa Rica  1972  1834796  Americas   67.849  5118.146939
353  Costa Rica  1977  2108457  Americas   70.750  5926.876967
354  Costa Rica  1982  2424367  Americas   73.450  5262.734751
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
355  Costa Rica  1987  2799811  Americas   74.752  5629.915318
356  Costa Rica  1992  3173216  Americas   75.713  6160.416317
357  Costa Rica  1997  3518107  Americas   77.260  6677.045314
358  Costa Rica  2002  3834934  Americas   78.123  7723.447195
359  Costa Rica  2007  4133884  Americas   78.782  9645.061420
--------------------
--------------------
           country  year      pop continent  lifeExp    gdpPercap
360  Cote d'Ivoire  1952  2977019    Africa   40.477  1388.594732
361  Cote d'Ivoire  1957  3300000    Africa   42.469  1500.895925
362  Cote d'Ivoire  1962  3832408    Africa   44.930  1728.869428
363  Cote d'Ivoire  1967  4744870    Africa   47.350  2052.050473
364  Cote d'Ivoire  1972  6071696    Africa   49.801  2378.201111
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
365  Cote d'Ivoire  1977   7459574    Africa   52.374  2517.736547
366  Cote d'Ivoire  1982   9025951    Africa   53.983  2602.710169
367  Cote d'Ivoire  1987  10761098    Africa   54.655  2156.956069
368  Cote d'Ivoire  1992  12772596    Africa   52.044  1648.073791
369  Cote d'Ivoire  1997  14625967    Africa   47.991  1786.265407
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
370  Cote d'Ivoire  2002  16252726    Africa   46.832  1648.800823
371  Cote d'Ivoire  2007  18013409    Africa   48.328  1544.750112
372        Croatia  1952   3882229    Europe   61.210  3119.236520
373        Croatia  1957   3991242    Europe   64.770  4338.231617
374        Croatia  1962   4076557    Europe   67.130  5477.890018
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
375  Croatia  1967  4174366    Europe    68.50   6960.297861
376  Croatia  1972  4225310    Europe    69.61   9164.090127
377  Croatia  1977  4318673    Europe    70.64  11305.385170
378  Croatia  1982  4413368    Europe    70.46  13221.821840
379  Croatia  1987  4484310    Europe    71.52  13822.583940
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
380  Croatia  1992  4494013    Europe   72.527   8447.794873
381  Croatia  1997  4444595    Europe   73.680   9875.604515
382  Croatia  2002  4481020    Europe   74.876  11628.388950
383  Croatia  2007  4493312    Europe   75.748  14619.222720
384     Cuba  1952  6007797  Americas   59.421   5586.538780
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
385    Cuba  1957  6640752  Americas   62.325  6092.174359
386    Cuba  1962  7254373  Americas   65.246  5180.755910
387    Cuba  1967  8139332  Americas   68.290  5690.268015
388    Cuba  1972  8831348  Americas   70.723  5305.445256
389    Cuba  1977  9537988  Americas   72.649  6380.494966
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
390    Cuba  1982   9789224  Americas   73.717  7316.918107
391    Cuba  1987  10239839  Americas   74.174  7532.924763
392    Cuba  1992  10723260  Americas   74.414  5592.843963
393    Cuba  1997  10983007  Americas   76.151  5431.990415
394    Cuba  2002  11226999  Americas   77.158  6340.646683
--------------------
--------------------
            country  year       pop continent  lifeExp     gdpPercap
395            Cuba  2007  11416987  Americas   78.273   8948.102923
396  Czech Republic  1952   9125183    Europe   66.870   6876.140250
397  Czech Republic  1957   9513758    Europe   69.030   8256.343918
398  Czech Republic  1962   9620282    Europe   69.900  10136.867130
399  Czech Republic  1967   9835109    Europe   70.380  11399.444890
--------------------
--------------------
            country  year       pop continent  lifeExp    gdpPercap
400  Czech Republic  1972   9862158    Europe    70.29  13108.45360
401  Czech Republic  1977  10161915    Europe    70.71  14800.16062
402  Czech Republic  1982  10303704    Europe    70.96  15377.22855
403  Czech Republic  1987  10311597    Europe    71.58  16310.44340
404  Czech Republic  1992  10315702    Europe    72.40  14297.02122
--------------------
--------------------
            country  year       pop continent  lifeExp     gdpPercap
405  Czech Republic  1997  10300707    Europe   74.010  16048.514240
406  Czech Republic  2002  10256295    Europe   75.510  17596.210220
407  Czech Republic  2007  10228744    Europe   76.486  22833.308510
408         Denmark  1952   4334000    Europe   70.780   9692.385245
409         Denmark  1957   4487831    Europe   71.810  11099.659350
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
410  Denmark  1962  4646899    Europe    72.35  13583.31351
411  Denmark  1967  4838800    Europe    72.96  15937.21123
412  Denmark  1972  4991596    Europe    73.47  18866.20721
413  Denmark  1977  5088419    Europe    74.69  20422.90150
414  Denmark  1982  5117810    Europe    74.63  21688.04048
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
415  Denmark  1987  5127024    Europe   74.800  25116.17581
416  Denmark  1992  5171393    Europe   75.330  26406.73985
417  Denmark  1997  5283663    Europe   76.110  29804.34567
418  Denmark  2002  5374693    Europe   77.180  32166.50006
419  Denmark  2007  5468120    Europe   78.332  35278.41874
--------------------
--------------------
      country  year     pop continent  lifeExp    gdpPercap
420  Djibouti  1952   63149    Africa   34.812  2669.529475
421  Djibouti  1957   71851    Africa   37.328  2864.969076
422  Djibouti  1962   89898    Africa   39.693  3020.989263
423  Djibouti  1967  127617    Africa   42.074  3020.050513
424  Djibouti  1972  178848    Africa   44.366  3694.212352
--------------------
--------------------
      country  year     pop continent  lifeExp    gdpPercap
425  Djibouti  1977  228694    Africa   46.519  3081.761022
426  Djibouti  1982  305991    Africa   48.812  2879.468067
427  Djibouti  1987  311025    Africa   50.040  2880.102568
428  Djibouti  1992  384156    Africa   51.604  2377.156192
429  Djibouti  1997  417908    Africa   53.157  1895.016984
--------------------
--------------------
                country  year      pop continent  lifeExp    gdpPercap
430            Djibouti  2002   447416    Africa   53.373  1908.260867
431            Djibouti  2007   496374    Africa   54.791  2082.481567
432  Dominican Republic  1952  2491346  Americas   45.928  1397.717137
433  Dominican Republic  1957  2923186  Americas   49.828  1544.402995
434  Dominican Republic  1962  3453434  Americas   53.459  1662.137359
--------------------
--------------------
                country  year      pop continent  lifeExp    gdpPercap
435  Dominican Republic  1967  4049146  Americas   56.751  1653.723003
436  Dominican Republic  1972  4671329  Americas   59.631  2189.874499
437  Dominican Republic  1977  5302800  Americas   61.788  2681.988900
438  Dominican Republic  1982  5968349  Americas   63.727  2861.092386
439  Dominican Republic  1987  6655297  Americas   66.046  2899.842175
--------------------
--------------------
                country  year      pop continent  lifeExp    gdpPercap
440  Dominican Republic  1992  7351181  Americas   68.457  3044.214214
441  Dominican Republic  1997  7992357  Americas   69.957  3614.101285
442  Dominican Republic  2002  8650322  Americas   70.847  4563.808154
443  Dominican Republic  2007  9319622  Americas   72.235  6025.374752
444             Ecuador  1952  3548753  Americas   48.357  3522.110717
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
445  Ecuador  1957  4058385  Americas   51.356  3780.546651
446  Ecuador  1962  4681707  Americas   54.640  4086.114078

--------------------
         country  year       pop continent  lifeExp    gdpPercap
465        Egypt  1997  66134291    Africa   67.217  4173.181797
466        Egypt  2002  73312559    Africa   69.806  4754.604414
467        Egypt  2007  80264543    Africa   71.338  5581.180998
468  El Salvador  1952   2042865  Americas   45.262  3048.302900
469  El Salvador  1957   2355805  Americas   48.570  3421.523218
--------------------
--------------------
         country  year      pop continent  lifeExp    gdpPercap
470  El Salvador  1962  2747687  Americas   52.307  3776.803627
471  El Salvador  1967  3232927  Americas   55.855  4358.595393
472  El Salvador  1972  3790903  Americas   58.207  4520.246008
473  El Salvador  1977  4282586  Americas   56.696  5138.922374
474  El Salvador  1982  4474873  Americas   56.604  4098.344175
--------------------
--------------------
         country  year      pop continent  lifeExp    gdpPercap
475  El Salvador  1987  4842194  Americas   63.154  4140.442097
476  El Salvador  1992  5274649  Americas   66.798  4444.231700
477  El Salvador  1997  5783439  Americas   69.535  5154.825496
478  El Salvador  2002  6353681  Americas   70.734  5351.568666
479  El Salvador  2007  6939688  Americas   71.878  5728.353514
--------------------
--------------------
               country  year     pop continent  lifeExp   gdpPercap
480  Equatorial Guinea  1952  216964    Africa   34.482  375.643123
481  Equatorial Guinea  1957  232922    Africa   35.983  426.096408
482  Equatorial Guinea  1962  249220    Africa   37.485  582.841971
483  Equatorial Guinea  1967  259864    Africa   38.987  915.596003
484  Equatorial Guinea  1972  277603    Africa   40.516  672.412257
--------------------
--------------------
               country  year     pop continent  lifeExp    gdpPercap
485  Equatorial Guinea  1977  192675    Africa   42.024   958.566812
486  Equatorial Guinea  1982  285483    Africa   43.662   927.825343
487  Equatorial Guinea  1987  341244    Africa   45.664   966.896815
488  Equatorial Guinea  1992  387838    Africa   47.545  1132.055034
489  Equatorial Guinea  1997  439971    Africa   48.245  2814.480755
--------------------
--------------------
               country  year      pop continent  lifeExp     gdpPercap
490  Equatorial Guinea  2002   495627    Africa   49.348   7703.495900
491  Equatorial Guinea  2007   551201    Africa   51.579  12154.089750
492            Eritrea  1952  1438760    Africa   35.928    328.940557
493            Eritrea  1957  1542611    Africa   38.047    344.161886
494            Eritrea  1962  1666618    Africa   40.158    380.995843
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
495  Eritrea  1967  1820319    Africa   42.189  468.794970
496  Eritrea  1972  2260187    Africa   44.142  514.324208
497  Eritrea  1977  2512642    Africa   44.535  505.753808
498  Eritrea  1982  2637297    Africa   43.890  524.875849
499  Eritrea  1987  2915959    Africa   46.453  521.134133
--------------------
--------------------
      country  year       pop continent  lifeExp   gdpPercap
500   Eritrea  1992   3668440    Africa   49.991  582.858510
501   Eritrea  1997   4058319    Africa   53.378  913.470790
502   Eritrea  2002   4414865    Africa   55.240  765.350001
503   Eritrea  2007   4906585    Africa   58.040  641.369524
504  Ethiopia  1952  20860941    Africa   34.078  362.146280
--------------------
--------------------
      country  year       pop continent  lifeExp   gdpPercap
505  Ethiopia  1957  22815614    Africa   36.667  378.904163
506  Ethiopia  1962  25145372    Africa   40.059  419.456416
507  Ethiopia  1967  27860297    Africa   42.115  516.118644
508  Ethiopia  1972  30770372    Africa   43.515  566.243944
509  Ethiopia  1977  34617799    Africa   44.510  556.808383
--------------------
--------------------
      country  year       pop continent  lifeExp   gdpPercap
510  Ethiopia  1982  38111756    Africa   44.916  577.860747
511  Ethiopia  1987  42999530    Africa   46.684  573.741314
512  Ethiopia  1992  52088559    Africa   48.091  421.353465
513  Ethiopia  1997  59861301    Africa   49.402  515.889401
514  Ethiopia  2002  67946797    Africa   50.725  530.053532
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
515  Ethiopia  2007  76511887    Africa   52.947    690.805576
516   Finland  1952   4090500    Europe   66.550   6424.519071
517   Finland  1957   4324000    Europe   67.490   7545.415386
518   Finland  1962   4491443    Europe   68.750   9371.842561
519   Finland  1967   4605744    Europe   69.830  10921.636260
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
520  Finland  1972  4639657    Europe    70.87  14358.87590
521  Finland  1977  4738902    Europe    72.52  15605.42283
522  Finland  1982  4826933    Europe    74.55  18533.15761
523  Finland  1987  4931729    Europe    74.83  21141.01223
524  Finland  1992  5041039    Europe    75.70  20647.16499
--------------------
--------------------
     country  year       pop continent  lifeExp     gdpPercap
525  Finland  1997   5134406    Europe   77.130  23723.950200
526  Finland  2002   5193039    Europe   78.370  28204.590570
527  Finland  2007   5238460    Europe   79.313  33207.084400
528   France  1952  42459667    Europe   67.410   7029.809327
529   France  1957  44310863    Europe   68.930   8662.834898
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
530  France  1962  47124000    Europe    70.51  10560.48553
531  France  1967  49569000    Europe    71.55  12999.91766
532  France  1972  51732000    Europe    72.38  16107.19171
533  France  1977  53165019    Europe    73.83  18292.63514
534  France  1982  54433565    Europe    74.89  20293.89746
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
535  France  1987  55630100    Europe   76.340  22066.44214
536  France  1992  57374179    Europe   77.460  24703.79615
537  France  1997  58623428    Europe   78.640  25889.78487
538  France  2002  59925035    Europe   79.590  28926.03234
539  France  2007  61083916    Europe   80.657  30470.01670
--------------------
--------------------
    country  year     pop continent  lifeExp     gdpPercap
540   Gabon  1952  420702    Africa   37.003   4293.476475
541   Gabon  1957  434904    Africa   38.999   4976.198099
542   Gabon  1962  455661    Africa   40.489   6631.459222
543   Gabon  1967  489004    Africa   44.598   8358.761987
544   Gabon  1972  537977    Africa   48.690  11401.948410
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
545   Gabon  1977   706367    Africa   52.790  21745.57328
546   Gabon  1982   753874    Africa   56.564  15113.36194
547   Gabon  1987   880397    Africa   60.190  11864.40844
548   Gabon  1992   985739    Africa   61.366  13522.15752
549   Gabon  1997  1126189    Africa   60.461  14722.84188
--------------------
--------------------
    country  year      pop continent  lifeExp     gdpPercap
550   Gabon  2002  1299304    Africa   56.761  12521.713920
551   Gabon  2007  1454867    Africa   56.735  13206.484520
552  Gambia  1952   284320    Africa   30.000    485.230659
553  Gambia  1957   323150    Africa   32.065    520.926711
554  Gambia  1962   374020    Africa   33.896    599.650276
--------------------
--------------------
    country  year     pop continent  lifeExp   gdpPercap
555  Gambia  1967  439593    Africa   35.857  734.782912
556  Gambia  1972  517101    Africa   38.308  756.086836
557  Gambia  1977  608274    Africa   41.842  884.755251
558  Gambia  1982  715523    Africa   45.580  835.809611
559  Gambia  1987  848406    Africa   49.265  611.658861
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
560   Gambia  1992   1025384    Africa   52.644   665.624413
561   Gambia  1997   1235767    Africa   55.861   653.730170
562   Gambia  2002   1457766    Africa   58.041   660.585600
563   Gambia  2007   1688359    Africa   59.448   752.749726
564  Germany  1952  69145952    Europe   67.500  7144.114393
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
565  Germany  1957  71019069    Europe     69.1  10187.82665
566  Germany  1962  73739117    Europe     70.3  12902.46291
567  Germany  1967  76368453    Europe     70.8  14745.62561
568  Germany  1972  78717088    Europe     71.0  18016.18027
569  Germany  1977  78160773    Europe     72.5  20512.92123
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
570  Germany  1982  78335266    Europe   73.800  22031.53274
571  Germany  1987  77718298    Europe   74.847  24639.18566
572  Germany  1992  80597764    Europe   76.070  26505.30317
573  Germany  1997  82011073    Europe   77.340  27788.88416
574  Germany  2002  82350671    Europe   78.670  30035.80198
--------------------
--------------------
     country  year       pop continent  lifeExp     gdpPercap
575  Germany  2007  82400996    Europe   79.406  32170.374420
576    Ghana  1952   5581001    Africa   43.149    911.298937
577    Ghana  1957   6391288    Africa   44.779   1043.561537
578    Ghana  1962   7355248    Africa   46.452   1190.041118
579    Ghana  1967   8490213    Africa   48.072   1125.697160
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
580   Ghana  1972   9354120    Africa   49.875  1178.223708
581   Ghana  1977  10538093    Africa   51.756   993.223957
582   Ghana  1982  11400338    Africa   53.744   876.032569
583   Ghana  1987  14168101    Africa   55.729   847.006113
584   Ghana  1992  16278738    Africa   57.501   925.060154
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
585   Ghana  1997  18418288    Africa   58.556  1005.245812
586   Ghana  2002  20550751    Africa   58.453  1111.984578
587   Ghana  2007  22873338    Africa   60.022  1327.608910
588  Greece  1952   7733250    Europe   65.860  3530.690067
589  Greece  1957   8096218    Europe   67.860  4916.299889
--------------------
--------------------
    country  year      pop continent  lifeExp     gdpPercap
590  Greece  1962  8448233    Europe    69.51   6017.190733
591  Greece  1967  8716441    Europe    71.00   8513.097016
592  Greece  1972  8888628    Europe    72.34  12724.829570
593  Greece  1977  9308479    Europe    73.68  14195.524280
594  Greece  1982  9786480    Europe    75.24  15268.420890
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
595  Greece  1987   9974490    Europe   76.670  16120.52839
596  Greece  1992  10325429    Europe   77.030  17541.49634
597  Greece  1997  10502372    Europe   77.869  18747.69814
598  Greece  2002  10603863    Europe   78.256  22514.25480
599  Greece  2007  10706290    Europe   79.483  27538.41188
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
600  Guatemala  1952  3146381  Americas   42.023  2428.237769
601  Guatemala  1957  3640876  Americas   44.142  2617.155967
602  Guatemala  1962  4208858  Americas   46.954  2750.364446
603  Guatemala  1967  4690773  Americas   50.016  3242.531147
604  Guatemala  1972  5149581  Americas   53.738  4031.408271
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
605  Guatemala  1977  5703430  Americas   56.029  4879.992748
606  Guatemala  1982  6395630  Americas   58.137  4820.494790
607  Guatemala  1987  7326406  Americas   60.782  4246.485974
608  Guatemala  1992  8486949  Americas   63.373  4439.450840
609  Guatemala  1997  9803875  Americas   66.322  4684.313807
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
610  Guatemala  2002  11178650  Americas   68.978  4858.347495
611  Guatemala  2007  12572928  Americas   70.259  5186.050003
612     Guinea  1952   2664249    Africa   33.609   510.196492
613     Guinea  1957   2876726    Africa   34.558   576.267025
614     Guinea  1962   3140003    Africa   35.753   686.373674
--------------------
--------------------
    country  year      pop continent  lifeExp   gdpPercap
615  Guinea  1967  3451418    Africa   37.197  708.759541
616  Guinea  1972  3811387    Africa   38.842  741.666231
617  Guinea  1977  4227026    Africa   40.762  874.685864
618  Guinea  1982  4710497    Africa   42.891  857.250358
619  Guinea  1987  5650262    Africa   45.552  805.572472
--------------------
--------------------
           country  year      pop continent  lifeExp   gdpPercap
620         Guinea  1992  6990574    Africa   48.576  794.348438
621         Guinea  1997  8048834    Africa   51.455  869.449767
622         Guinea  2002  8807818    Africa   53.676  945.583584
623         Guinea  2007  9947814    Africa   56.007  942.654211
624  Guinea-Bissau  1952   580653    Africa   32.500  299.850319
--------------------
--------------------
           country  year     pop continent  lifeExp   gdpPercap
625  Guinea-Bissau  1957  601095    Africa   33.489  431.790457
626  Guinea-Bissau  1962  627820    Africa   34.488  522.034373
627  Guinea-Bissau  1967  601287    Africa   35.492  715.580640
628  Guinea-Bissau  1972  625361    Africa   36.486  820.224588
629  Guinea-Bissau  1977  745228    Africa   37.465  764.725963
--------------------
--------------------
           country  year      pop continent  lifeExp   gdpPercap
630  Guinea-Bissau  1982   825987    Africa   39.327  838.123967
631  Guinea-Bissau  1987   927524    Africa   41.245  736.415392
632  Guinea-Bissau  1992  1050938    Africa   43.266  745.539871
633  Guinea-Bissau  1997  1193708    Africa   44.873  796.664468
634  Guinea-Bissau  2002  1332459    Africa   45.504  575.704718
--------------------
--------------------
           country  year      pop continent  lifeExp    gdpPercap
635  Guinea-Bissau  2007  1472041    Africa   46.388   579.231743
636          Haiti  1952  3201488  Americas   37.579  1840.366939
637          Haiti  1957  3507701  Americas   40.696  1726.887882
638          Haiti  1962  3880130  Americas   43.590  1796.589032
639          Haiti  1967  4318137  Americas   46.243  1452.057666
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
640   Haiti  1972  4698301  Americas   48.042  1654.456946
641   Haiti  1977  4908554  Americas   49.923  1874.298931
642   Haiti  1982  5198399  Americas   51.461  2011.159549
643   Haiti  1987  5756203  Americas   53.636  1823.015995
644   Haiti  1992  6326682  Americas   55.089  1456.309517
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
645     Haiti  1997  6913545  Americas   56.671  1341.726931
646     Haiti  2002  7607651  Americas   58.137  1270.364932
647     Haiti  2007  8502814  Americas   60.916  1201.637154
648  Honduras  1952  1517453  Americas   41.912  2194.926204
649  Honduras  1957  1770390  Americas   44.665  2220.487682
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
650  Honduras  1962  2090162  Americas   48.041  2291.156835
651  Honduras  1967  2500689  Americas   50.924  2538.269358
652  Honduras  1972  2965146  Americas   53.884  2529.842345
653  Honduras  1977  3055235  Americas   57.402  3203.208066
654  Honduras  1982  3669448  Americas   60.909  3121.760794
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
655  Honduras  1987  4372203  Americas   64.492  3023.096699
656  Honduras  1992  5077347  Americas   66.399  3081.694603
657  Honduras  1997  5867957  Americas   67.659  3160.454906
658  Honduras  2002  6677328  Americas   68.565  3099.728660
659  Honduras  2007  7483763  Americas   70.198  3548.330846
--------------------
--------------------
             country  year      pop continent  lifeExp    gdpPercap
660  Hong Kong China  1952  2125900      Asia    60.96  3054.421209
661  Hong Kong China  1957  2736300      Asia    64.75  3629.076457
662  Hong Kong China  1962  3305200      Asia    67.65  4692.648272
663  Hong Kong China  1967  3722800      Asia    70.00  6197.962814
664  Hong Kong China  1972  4115700      Asia    72.00  8315.928145
--------------------
--------------------
             country  year      pop continent  lifeExp    gdpPercap
665  Hong Kong China  1977  4583700      Asia   73.600  11186.14125
666  Hong Kong China  1982  5264500      Asia   75.450  14560.53051
667  Hong Kong China  1987  5584510      Asia   76.200  20038.47269
668  Hong Kong China  1992  5829696      Asia   77.601  24757.60301
669  Hong Kong China  1997  6495918      Asia   80.000  28377.63219
--------------------
--------------------
             country  year       pop continent  lifeExp     gdpPercap
670  Hong Kong China  2002   6762476      Asia   81.495  30209.015160
671  Hong Kong China  2007   6980412      Asia   82.208  39724.978670
672          Hungary  1952   9504000    Europe   64.030   5263.673816
673          Hungary  1957   9839000    Europe   66.410   6040.180011
674          Hungary  1962  10063000    Europe   67.960   7550.359877
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
675  Hungary  1967  10223422    Europe    69.50   9326.64467
676  Hungary  1972  10394091    Europe    69.76  10168.65611
677  Hungary  1977  10637171    Europe    69.95  11674.83737
678  Hungary  1982  10705535    Europe    69.39  12545.99066
679  Hungary  1987  10612740    Europe    69.58  12986.47998
--------------------
--------------------
     country  year       pop continent  lifeExp     gdpPercap
680  Hungary  1992  10348684    Europe   69.170  10535.628550
681  Hungary  1997  10244684    Europe   71.040  11712.776800
682  Hungary  2002  10083313    Europe   72.590  14843.935560
683  Hungary  2007   9956108    Europe   73.338  18008.944440
684  Iceland  1952    147962    Europe   72.490   7267.688428
--------------------
--------------------
     country  year     pop continent  lifeExp     gdpPercap
685  Iceland  1957  165110    Europe    73.47   9244.001412
686  Iceland  1962  182053    Europe    73.68  10350.159060
687  Iceland  1967  198676    Europe    73.73  13319.895680
688  Iceland  1972  209275    Europe    74.46  15798.063620
689  Iceland  1977  221823    Europe    76.11  19654.962470
--------------------
--------------------
     country  year     pop continent  lifeExp    gdpPercap
690  Iceland  1982  233997    Europe    76.99  23269.60750
691  Iceland  1987  244676    Europe    77.23  26923.20628
692  Iceland  1992  259012    Europe    78.77  25144.39201
693  Iceland  1997  271192    Europe    78.95  28061.09966
694  Iceland  2002  288030    Europe    80.50  31163.20196
--------------------
--------------------
     country  year          pop continent  lifeExp     gdpPercap
695  Iceland  2007     301931.0    Europe   81.757  36180.789190
696    India  1952  372000000.0      Asia   37.373    546.565749
697    India  1957  409000000.0      Asia   40.249    590.061996
698    India  1962  454000000.0      Asia   43.605    658.347151
699    India  1967  506000000.0      Asia   47.193    700.770611
--------------------
--------------------
    country  year          pop continent  lifeExp    gdpPercap
700   India  1972  567000000.0      Asia   50.651   724.032527
701   India  1977  634000000.0      Asia   54.208   813.337323
702   India  1982  708000000.0      Asia   56.596   855.723538
703   India  1987  788000000.0      Asia   58.553   976.512676
704   India  1992  872000000.0      Asia   60.223  1164.406809
--------------------

--------------------
       country  year           pop continent  lifeExp    gdpPercap
705      India  1997  9.590000e+08      Asia   61.765  1458.817442
706      India  2002  1.034173e+09      Asia   62.879  1746.769454
707      India  2007  1.110396e+09      Asia   64.698  2452.210407
708  Indonesia  1952  8.205200e+07      Asia   37.468   749.681655
709  Indonesia  1957  9.012400e+07      Asia   39.918   858.900271
--------------------
--------------------
       country  year        pop continent  lifeExp    gdpPercap
710  Indonesia  1962   99028000      Asia   42.518   849.289770
711  Indonesia  1967  109343000      Asia   45.964   762.431772
712  Indonesia  1972  121282000      Asia   49.203  1111.107907
713  Indonesia  1977  136725000      Asia   52.702  1382.702056
714  Indonesia  1982  153343000      Asia   56.159  1516.872988
--------------------
--------------------
       country  year        pop continent  lifeExp    gdpPercap
715  Indonesia  1987  169276000      Asia   60.137  1748.356961
716  Indonesia  1992  184816000      Asia   62.681  2383.140898
717  Indonesia  1997  199278000      Asia   66.041  3119.335603
718  Indonesia  2002  211060000      Asia   68.588  2873.912870
719  Indonesia  2007  223547000      Asia   70.650  3540.651564
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
720    Iran  1952  17272000      Asia   44.869  3035.326002
721    Iran  1957  19792000      Asia   47.181  3290.257643
722    Iran  1962  22874000      Asia   49.325  4187.329802
723    Iran  1967  26538000      Asia   52.469  5906.731805
724    Iran  1972  30614000      Asia   55.234  9613.818607
--------------------
--------------------
    country  year       pop continent  lifeExp     gdpPercap
725    Iran  1977  35480679      Asia   57.702  11888.595080
726    Iran  1982  43072751      Asia   59.620   7608.334602
727    Iran  1987  51889696      Asia   63.040   6642.881371
728    Iran  1992  60397973      Asia   65.742   7235.653188
729    Iran  1997  63327987      Asia   68.042   8263.590301
--------------------
--------------------
    country  year       pop continent  lifeExp     gdpPercap
730    Iran  2002  66907826      Asia   69.451   9240.761975
731    Iran  2007  69453570      Asia   70.964  11605.714490
732    Iraq  1952   5441766      Asia   45.320   4129.766056
733    Iraq  1957   6248643      Asia   48.437   6229.333562
734    Iraq  1962   7240260      Asia   51.457   8341.737815
--------------------
--------------------
    country  year       pop continent  lifeExp     gdpPercap
735    Iraq  1967   8519282      Asia   54.459   8931.459811
736    Iraq  1972  10061506      Asia   56.950   9576.037596
737    Iraq  1977  11882916      Asia   60.413  14688.235070
738    Iraq  1982  14173318      Asia   62.038  14517.907110
739    Iraq  1987  16543189      Asia   65.044  11643.572680
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
740     Iraq  1992  17861905      Asia   59.461  3745.640687
741     Iraq  1997  20775703      Asia   58.811  3076.239795
742     Iraq  2002  24001816      Asia   57.046  4390.717312
743     Iraq  2007  27499638      Asia   59.545  4471.061906
744  Ireland  1952   2952156    Europe   66.910  5210.280328
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
745  Ireland  1957  2878220    Europe    68.90   5599.077872
746  Ireland  1962  2830000    Europe    70.29   6631.597314
747  Ireland  1967  2900100    Europe    71.08   7655.568963
748  Ireland  1972  3024400    Europe    71.28   9530.772896
749  Ireland  1977  3271900    Europe    72.03  11150.981130
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
750  Ireland  1982  3480000    Europe   73.100  12618.32141
751  Ireland  1987  3539900    Europe   74.360  13872.86652
752  Ireland  1992  3557761    Europe   75.467  17558.81555
753  Ireland  1997  3667233    Europe   76.122  24521.94713
754  Ireland  2002  3879155    Europe   77.783  34077.04939
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
755  Ireland  2007  4109086    Europe   78.885  40675.996350
756   Israel  1952  1620914      Asia   65.390   4086.522128
757   Israel  1957  1944401      Asia   67.840   5385.278451
758   Israel  1962  2310904      Asia   69.390   7105.630706
759   Israel  1967  2693585      Asia   70.750   8393.741404
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
760  Israel  1972  3095893      Asia    71.63  12786.93223
761  Israel  1977  3495918      Asia    73.06  13306.61921
762  Israel  1982  3858421      Asia    74.45  15367.02920
763  Israel  1987  4203148      Asia    75.60  17122.47986
764  Israel  1992  4936550      Asia    76.93  18051.52254
--------------------
--------------------
    country  year       pop continent  lifeExp     gdpPercap
765  Israel  1997   5531387      Asia   78.269  20896.609240
766  Israel  2002   6029529      Asia   79.696  21905.595140
767  Israel  2007   6426679      Asia   80.745  25523.277100
768   Italy  1952  47666000    Europe   65.940   4931.404155
769   Italy  1957  49182000    Europe   67.810   6248.656232
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
770   Italy  1962  50843200    Europe    69.24   8243.58234
771   Italy  1967  52667100    Europe    71.06  10022.40131
772   Italy  1972  54365564    Europe    72.19  12269.27378
773   Italy  1977  56059245    Europe    73.48  14255.98475
774   Italy  1982  56535636    Europe    74.98  16537.48350
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
775   Italy  1987  56729703    Europe   76.420  19207.23482
776   Italy  1992  56840847    Europe   77.440  22013.64486
777   Italy  1997  57479469    Europe   78.820  24675.02446
778   Italy  2002  57926999    Europe   80.240  27968.09817
779   Italy  2007  58147733    Europe   80.546  28569.71970
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
780  Jamaica  1952  1426095  Americas    58.53  2898.530881
781  Jamaica  1957  1535090  Americas    62.61  4756.525781
782  Jamaica  1962  1665128  Americas    65.61  5246.107524
783  Jamaica  1967  1861096  Americas    67.51  6124.703451
784  Jamaica  1972  1997616  Americas    69.00  7433.889293
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
785  Jamaica  1977  2156814  Americas   70.110  6650.195573
786  Jamaica  1982  2298309  Americas   71.210  6068.051350
787  Jamaica  1987  2326606  Americas   71.770  6351.237495
788  Jamaica  1992  2378618  Americas   71.766  7404.923685
789  Jamaica  1997  2531311  Americas   72.262  7121.924704
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
790  Jamaica  2002   2664659  Americas   72.047  6994.774861
791  Jamaica  2007   2780132  Americas   72.567  7320.880262
792    Japan  1952  86459025      Asia   63.030  3216.956347
793    Japan  1957  91563009      Asia   65.500  4317.694365
794    Japan  1962  95831757      Asia   68.730  6576.649461
--------------------
--------------------
    country  year        pop continent  lifeExp     gdpPercap
795   Japan  1967  100825279      Asia    71.43   9847.788607
796   Japan  1972  107188273      Asia    73.42  14778.786360
797   Japan  1977  113872473      Asia    75.38  16610.377010
798   Japan  1982  118454974      Asia    77.11  19384.105710
799   Japan  1987  122091325      Asia    78.67  22375.941890
--------------------
--------------------
    country  year        pop continent  lifeExp     gdpPercap
800   Japan  1992  124329269      Asia   79.360  26824.895110
801   Japan  1997  125956499      Asia   80.690  28816.584990
802   Japan  2002  127065841      Asia   82.000  28604.591900
803   Japan  2007  127467972      Asia   82.603  31656.068060
804  Jordan  1952     607914      Asia   43.158   1546.907807
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
805  Jordan  1957   746559      Asia   45.669  1886.080591
806  Jordan  1962   933559      Asia   48.126  2348.009158
807  Jordan  1967  1255058      Asia   51.629  2741.796252
808  Jordan  1972  1613551      Asia   56.528  2110.856309
809  Jordan  1977  1937652      Asia   61.134  2852.351568
--------------------
--------------------
    country  year      pop continent  lifeExp    gdpPercap
810  Jordan  1982  2347031      Asia   63.739  4161.415959
811  Jordan  1987  2820042      Asia   65.869  4448.679912
812  Jordan  1992  3867409      Asia   68.015  3431.593647
813  Jordan  1997  4526235      Asia   69.772  3645.379572
814  Jordan  2002  5307470      Asia   71.263  3844.917194
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
815  Jordan  2007   6053193      Asia   72.535  4519.461171
816   Kenya  1952   6464046    Africa   42.270   853.540919
817   Kenya  1957   7454779    Africa   44.686   944.438315
818   Kenya  1962   8678557    Africa   47.949   896.966373
819   Kenya  1967  10191512    Africa   50.654  1056.736457
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
820   Kenya  1972  12044785    Africa   53.559  1222.359968
821   Kenya  1977  14500404    Africa   56.155  1267.613204
822   Kenya  1982  17661452    Africa   58.766  1348.225791
823   Kenya  1987  21198082    Africa   59.339  1361.936856
824   Kenya  1992  25020539    Africa   59.285  1341.921721
--------------------
--------------------
             country  year       pop continent  lifeExp    gdpPercap
825            Kenya  1997  28263827    Africa   54.407  1360.485021
826            Kenya  2002  31386842    Africa   50.992  1287.514732
827            Kenya  2007  35610177    Africa   54.110  1463.249282
828  Korea Dem. Rep.  1952   8865488      Asia   50.056  1088.277758
829  Korea Dem. Rep.  1957   9411381      Asia   54.081  1571.134655
--------------------
--------------------
             country  year       pop continent  lifeExp    gdpPercap
830  Korea Dem. Rep.  1962  10917494      Asia   56.656  1621.693598
831  Korea Dem. Rep.  1967  12617009      Asia   59.942  2143.540609
832  Korea Dem. Rep.  1972  14781241      Asia   63.983  3701.621503
833  Korea Dem. Rep.  1977  16325320      Asia   67.159  4106.301249
834  Korea Dem. Rep.  1982  17647518      Asia   69.100  4106.525293
--------------------
--------------------
             country  year       pop continent  lifeExp    gdpPercap
835  Korea Dem. Rep.  1987  19067554      Asia   70.647  4106.492315
836  Korea Dem. Rep.  1992  20711375      Asia   69.978  3726.063507
837  Korea Dem. Rep.  1997  21585105      Asia   67.727  1690.756814
838  Korea Dem. Rep.  2002  22215365      Asia   66.662  1646.758151
839  Korea Dem. Rep.  2007  23301725      Asia   67.297  1593.065480
--------------------
--------------------
        country  year       pop continent  lifeExp    gdpPercap
840  Korea Rep.  1952  20947571      Asia   47.453  1030.592226
841  Korea Rep.  1957  22611552      Asia   52.681  1487.593537
842  Korea Rep.  1962  26420307      Asia   55.292  1536.344387
843  Korea Rep.  1967  30131000      Asia   57.716  2029.228142
844  Korea Rep.  1972  33505000      Asia   62.612  3030.876650
--------------------
--------------------
        country  year       pop continent  lifeExp     gdpPercap
845  Korea Rep.  1977  36436000      Asia   64.766   4657.221020
846  Korea Rep.  1982  39326000      Asia   67.123   5622.942464
847  Korea Rep.  1987  41622000      Asia   69.810   8533.088805
848  Korea Rep.  1992  43805450      Asia   72.244  12104.278720
849  Korea Rep.  1997  46173816      Asia   74.647  15993.527960
--------------------
--------------------
        country  year       pop continent  lifeExp     gdpPercap
850  Korea Rep.  2002  47969150      Asia   77.045   19233.98818
851  Korea Rep.  2007  49044790      Asia   78.623   23348.13973
852      Kuwait  1952    160000      Asia   55.565  108382.35290
853      Kuwait  1957    212846      Asia   58.033  113523.13290
854      Kuwait  1962    358266      Asia   60.470   95458.11176
--------------------
--------------------
    country  year      pop continent  lifeExp     gdpPercap
855  Kuwait  1967   575003      Asia   64.624   80894.88326
856  Kuwait  1972   841934      Asia   67.712  109347.86700
857  Kuwait  1977  1140357      Asia   69.343   59265.47714
858  Kuwait  1982  1497494      Asia   71.309   31354.03573
859  Kuwait  1987  1891487      Asia   74.174   28118.42998
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
860   Kuwait  1992  1418095      Asia   75.190  34932.919590
861   Kuwait  1997  1765345      Asia   76.156  40300.619960
862   Kuwait  2002  2111561      Asia   76.904  35110.105660
863   Kuwait  2007  2505559      Asia   77.588  47306.989780
864  Lebanon  1952  1439529      Asia   55.928   4834.804067
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
865  Lebanon  1957  1647412      Asia   59.489  6089.786934
866  Lebanon  1962  1886848      Asia   62.094  5714.560611
867  Lebanon  1967  2186894      Asia   63.870  6006.983042
868  Lebanon  1972  2680018      Asia   65.421  7486.384341
869  Lebanon  1977  3115787      Asia   66.099  8659.696836
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
870  Lebanon  1982  3086876      Asia   66.983  7640.519521
871  Lebanon  1987  3089353      Asia   67.926  5377.091329
872  Lebanon  1992  3219994      Asia   69.292  6890.806854
873  Lebanon  1997  3430388      Asia   70.265  8754.963850
874  Lebanon  2002  3677780      Asia   71.028  9313.938830
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
875  Lebanon  2007  3921278      Asia   71.993  10461.058680
876  Lesotho  1952   748747    Africa   42.138    298.846212
877  Lesotho  1957   813338    Africa   45.047    335.997115
878  Lesotho  1962   893143    Africa   47.747    411.800627
879  Lesotho  1967   996380    Africa   48.492    498.639026
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
880  Lesotho  1972  1116779    Africa   49.767  496.581592
881  Lesotho  1977  1251524    Africa   52.208  745.369541
882  Lesotho  1982  1411807    Africa   55.078  797.263107
883  Lesotho  1987  1599200    Africa   57.180  773.993214
884  Lesotho  1992  1803195    Africa   59.685  977.486272
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
885  Lesotho  1997  1982823    Africa   55.558  1186.147994
886  Lesotho  2002  2046772    Africa   44.593  1275.184575
887  Lesotho  2007  2012649    Africa   42.592  1569.331442
888  Liberia  1952   863308    Africa   38.480   575.572996
889  Liberia  1957   975950    Africa   39.486   620.969990
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
890  Liberia  1962  1112796    Africa   40.502  634.195163
891  Liberia  1967  1279406    Africa   41.536  713.603648
892  Liberia  1972  1482628    Africa   42.614  803.005454
893  Liberia  1977  1703617    Africa   43.764  640.322438
894  Liberia  1982  1956875    Africa   44.852  572.199569
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
895  Liberia  1987  2269414    Africa   46.027  506.113857
896  Liberia  1992  1912974    Africa   40.802  636.622919
897  Liberia  1997  2200725    Africa   42.221  609.173951
898  Liberia  2002  2814651    Africa   43.753  531.482368
899  Liberia  2007  3193942    Africa   45.678  414.507341
--------------------
--------------------
    country  year      pop continent  lifeExp     gdpPercap
900   Libya  1952  1019729    Africa   42.723   2387.548060
901   Libya  1957  1201578    Africa   45.289   3448.284395
902   Libya  1962  1441863    Africa   47.808   6757.030816
903   Libya  1967  1759224    Africa   50.227  18772.751690
904   Libya  1972  2183877    Africa   52.773  21011.497210
--------------------
--------------------
    country  year      pop continent  lifeExp     gdpPercap
905   Libya  1977  2721783    Africa   57.442  21951.211760
906   Libya  1982  3344074    Africa   62.155  17364.275380
907   Libya  1987  3799845    Africa   66.234  11770.589800
908   Libya  1992  4364501    Africa   68.755   9640.138501
909   Libya  1997  4759670    Africa   71.555   9467.446056
--------------------
--------------------
        country  year      pop continent  lifeExp     gdpPercap
910       Libya  2002  5368585    Africa   72.737   9534.677467
911       Libya  2007  6036914    Africa   73.952  12057.499280
912  Madagascar  1952  4762912    Africa   36.681   1443.011715
913  Madagascar  1957  5181679    Africa   38.865   1589.202750
914  Madagascar  1962  5703324    Africa   40.848   1643.387110
--------------------
--------------------
        country  year       pop continent  lifeExp    gdpPercap
915  Madagascar  1967   6334556    Africa   42.881  1634.047282
916  Madagascar  1972   7082430    Africa   44.851  1748.562982
917  Madagascar  1977   8007166    Africa   46.881  1544.228586
918  Madagascar  1982   9171477    Africa   48.969  1302.878658
919  Madagascar  1987  10568642    Africa   49.350  1155.441948
--------------------
--------------------
        country  year       pop continent  lifeExp    gdpPercap
920  Madagascar  1992  12210395    Africa   52.214  1040.676190
921  Madagascar  1997  14165114    Africa   54.978   986.295896
922  Madagascar  2002  16473477    Africa   57.286   894.637082
923  Madagascar  2007  19167654    Africa   59.443  1044.770126
924      Malawi  1952   2917802    Africa   36.256   369.165080
--------------------
--------------------
    country  year      pop continent  lifeExp   gdpPercap
925  Malawi  1957  3221238    Africa   37.207  416.369806
926  Malawi  1962  3628608    Africa   38.410  427.901086
927  Malawi  1967  4147252    Africa   39.487  495.514781
928  Malawi  1972  4730997    Africa   41.766  584.621971
929  Malawi  1977  5637246    Africa   43.767  663.223677
--------------------
--------------------
    country  year       pop continent  lifeExp   gdpPercap
930  Malawi  1982   6502825    Africa   45.642  632.803921
931  Malawi  1987   7824747    Africa   47.457  635.517363
932  Malawi  1992  10014249    Africa   49.420  563.200014
933  Malawi  1997  10419991    Africa   47.495  692.275810
934  Malawi  2002  11824495    Africa   45.009  665.423119
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
935    Malawi  2007  13327079    Africa   48.303   759.349910
936  Malaysia  1952   6748378      Asia   48.463  1831.132894
937  Malaysia  1957   7739235      Asia   52.102  1810.066992
938  Malaysia  1962   8906385      Asia   55.737  2036.884944
939  Malaysia  1967  10154878      Asia   59.371  2277.742396
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
940  Malaysia  1972  11441462      Asia   63.010  2849.094780
941  Malaysia  1977  12845381      Asia   65.256  3827.921571
942  Malaysia  1982  14441916      Asia   68.000  4920.355951
943  Malaysia  1987  16331785      Asia   69.500  5249.802653
944  Malaysia  1992  18319502      Asia   70.693  7277.912802
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
945  Malaysia  1997  20476091      Asia   71.938  10132.909640
946  Malaysia  2002  22662365      Asia   73.044  10206.977940

--------------------
    country  year       pop continent  lifeExp    gdpPercap
955    Mali  1987   7634008    Africa   46.364   684.171558
956    Mali  1992   8416215    Africa   48.388   739.014375
957    Mali  1997   9384984    Africa   49.903   790.257985
958    Mali  2002  10580176    Africa   51.818   951.409752
959    Mali  2007  12031795    Africa   54.467  1042.581557
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
960  Mauritania  1952  1022556    Africa   40.543   743.115910
961  Mauritania  1957  1076852    Africa   42.338   846.120261
962  Mauritania  1962  1146757    Africa   44.248  1055.896036
963  Mauritania  1967  1230542    Africa   46.289  1421.145193
964  Mauritania  1972  1332786    Africa   48.437  1586.851781
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
965  Mauritania  1977  1456688    Africa   50.852  1497.492223
966  Mauritania  1982  1622136    Africa   53.599  1481.150189
967  Mauritania  1987  1841240    Africa   56.145  1421.603576
968  Mauritania  1992  2119465    Africa   58.333  1361.369784
969  Mauritania  1997  2444741    Africa   60.430  1483.136136
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
970  Mauritania  2002  2828858    Africa   62.247  1579.019543
971  Mauritania  2007  3270065    Africa   64.164  1803.151496
972   Mauritius  1952   516556    Africa   50.986  1967.955707
973   Mauritius  1957   609816    Africa   58.089  2034.037981
974   Mauritius  1962   701016    Africa   60.246  2529.067487
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
975  Mauritius  1967   789309    Africa   61.557  2475.387562
976  Mauritius  1972   851334    Africa   62.944  2575.484158
977  Mauritius  1977   913025    Africa   64.930  3710.982963
978  Mauritius  1982   992040    Africa   66.711  3688.037739
979  Mauritius  1987  1042663    Africa   68.740  4783.586903
--------------------
--------------------
       country  year       pop continent  lifeExp     gdpPercap
980  Mauritius  1992   1096202    Africa   69.745   6058.253846
981  Mauritius  1997   1149818    Africa   70.736   7425.705295
982  Mauritius  2002   1200206    Africa   71.954   9021.815894
983  Mauritius  2007   1250882    Africa   72.801  10956.991120
984     Mexico  1952  30144317  Americas   50.789   3478.125529
--------------------
--------------------
    country  year       pop continent  lifeExp    gdpPercap
985  Mexico  1957  35015548  Americas   55.190  4131.546641
986  Mexico  1962  41121485  Americas   58.299  4581.609385
987  Mexico  1967  47995559  Americas   60.110  5754.733883
988  Mexico  1972  55984294  Americas   62.361  6809.406690
989  Mexico  1977  63759976  Americas   65.032  7674.929108
--------------------
--------------------
    country  year        pop continent  lifeExp     gdpPercap
990  Mexico  1982   71640904  Americas   67.405   9611.147541
991  Mexico  1987   80122492  Americas   69.498   8688.156003
992  Mexico  1992   88111030  Americas   71.455   9472.384295
993  Mexico  1997   95895146  Americas   73.670   9767.297530
994  Mexico  2002  102479927  Americas   74.902  10742.440530
--------------------
--------------------
      country  year        pop continent  lifeExp     gdpPercap
995    Mexico  2007  108700891  Americas   76.195  11977.574960
996  Mongolia  1952     800663      Asia   42.244    786.566857
997  Mongolia  1957     882134      Asia   45.248    912.662609
998  Mongolia  1962    1010280      Asia   48.251   1056.353958
999  Mongolia  1967    1149500      Asia   51.253   1226.041130
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
1000  Mongolia  1972  1320500      Asia   53.754  1421.741975
1001  Mongolia  1977  1528000      Asia   55.491  1647.511665
1002  Mongolia  1982  1756032      Asia   57.489  2000.603139
1003  Mongolia  1987  2015133      Asia   60.222  2338.008304
1004  Mongolia  1992  2312802      Asia   61.271  1785.402016
--------------------
--------------------
         country  year      pop continent  lifeExp    gdpPercap
1005    Mongolia  1997  2494803      Asia   63.625  1902.252100
1006    Mongolia  2002  2674234      Asia   65.033  2140.739323
1007    Mongolia  2007  2874127      Asia   66.803  3095.772271
1008  Montenegro  1952   413834    Europe   59.164  2647.585601
1009  Montenegro  1957   442829    Europe   61.448  3682.259903
--------------------
--------------------
         country  year     pop continent  lifeExp     gdpPercap
1010  Montenegro  1962  474528    Europe   63.728   4649.593785
1011  Montenegro  1967  501035    Europe   67.178   5907.850937
1012  Montenegro  1972  527678    Europe   70.636   7778.414017
1013  Montenegro  1977  560073    Europe   73.066   9595.929905
1014  Montenegro  1982  562548    Europe   74.101  11222.587620
--------------------
--------------------
         country  year     pop continent  lifeExp     gdpPercap
1015  Montenegro  1987  569473    Europe   74.865  11732.510170
1016  Montenegro  1992  621621    Europe   75.435   7003.339037
1017  Montenegro  1997  692651    Europe   75.445   6465.613349
1018  Montenegro  2002  720230    Europe   73.981   6557.194282
1019  Montenegro  2007  684736    Europe   74.543   9253.896111
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1020  Morocco  1952   9939217    Africa   42.873  1688.203570
1021  Morocco  1957  11406350    Africa   45.423  1642.002314
1022  Morocco  1962  13056604    Africa   47.924  1566.353493
1023  Morocco  1967  14770296    Africa   50.335  1711.044770
1024  Morocco  1972  16660670    Africa   52.862  1930.194975
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1025  Morocco  1977  18396941    Africa   55.730  2370.619976
1026  Morocco  1982  20198730    Africa   59.650  2702.620356
1027  Morocco  1987  22987397    Africa   62.677  2755.046991
1028  Morocco  1992  25798239    Africa   65.393  2948.047252
1029  Morocco  1997  28529501    Africa   67.660  2982.101858
--------------------
--------------------
         country  year       pop continent  lifeExp    gdpPercap
1030     Morocco  2002  31167783    Africa   69.615  3258.495584
1031     Morocco  2007  33757175    Africa   71.164  3820.175230
1032  Mozambique  1952   6446316    Africa   31.286   468.526038
1033  Mozambique  1957   7038035    Africa   33.779   495.586833
1034  Mozambique  1962   7788944    Africa   36.161   556.686354
--------------------
--------------------
         country  year       pop continent  lifeExp   gdpPercap
1035  Mozambique  1967   8680909    Africa   38.113  566.669154
1036  Mozambique  1972   9809596    Africa   40.328  724.917804
1037  Mozambique  1977  11127868    Africa   42.495  502.319733
1038  Mozambique  1982  12587223    Africa   42.795  462.211415
1039  Mozambique  1987  12891952    Africa   42.861  389.876185
--------------------
--------------------
         country  year       pop continent  lifeExp   gdpPercap
1040  Mozambique  1992  13160731    Africa   44.284  410.896824
1041  Mozambique  1997  16603334    Africa   46.344  472.346077
1042  Mozambique  2002  18473780    Africa   44.026  633.617947
1043  Mozambique  2007  19951656    Africa   42.082  823.685621
1044     Myanmar  1952  20092996      Asia   36.319  331.000000
--------------------
--------------------
      country  year       pop continent  lifeExp  gdpPercap
1045  Myanmar  1957  21731844      Asia   41.905        350
1046  Myanmar  1962  23634436      Asia   45.108        388
1047  Myanmar  1967  25870271      Asia   49.379        349
1048  Myanmar  1972  28466390      Asia   53.070        357
1049  Myanmar  1977  31528087      Asia   56.059        371
--------------------
--------------------
      country  year       pop continent  lifeExp  gdpPercap
1050  Myanmar  1982  34680442      Asia   58.056        424
1051  Myanmar  1987  38028578      Asia   58.339        385
1052  Myanmar  1992  40546538      Asia   59.320        347
1053  Myanmar  1997  43247867      Asia   60.328        415
1054  Myanmar  2002  45598081      Asia   59.908        611
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1055  Myanmar  2007  47761980      Asia   62.069   944.000000
1056  Namibia  1952    485831    Africa   41.725  2423.780443
1057  Namibia  1957    548080    Africa   45.226  2621.448058
1058  Namibia  1962    621392    Africa   48.386  3173.215595
1059  Namibia  1967    706640    Africa   51.159  3793.694753
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1060  Namibia  1972   821782    Africa   53.867  3746.080948
1061  Namibia  1977   977026    Africa   56.437  3876.485958
1062  Namibia  1982  1099010    Africa   58.968  4191.100511
1063  Namibia  1987  1278184    Africa   60.835  3693.731337
1064  Namibia  1992  1554253    Africa   61.999  3804.537999
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1065  Namibia  1997  1774766    Africa   58.909  3899.524260
1066  Namibia  2002  1972153    Africa   51.479  4072.324751
1067  Namibia  2007  2055080    Africa   52.906  4811.060429
1068    Nepal  1952  9182536      Asia   36.157   545.865723
1069    Nepal  1957  9682338      Asia   37.686   597.936356
--------------------
--------------------
     country  year       pop continent  lifeExp   gdpPercap
1070   Nepal  1962  10332057      Asia   39.393  652.396859
1071   Nepal  1967  11261690      Asia   41.472  676.442225
1072   Nepal  1972  12412593      Asia   43.971  674.788130
1073   Nepal  1977  13933198      Asia   46.748  694.112440
1074   Nepal  1982  15796314      Asia   49.594  718.373095
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1075   Nepal  1987  17917180      Asia   52.537   775.632450
1076   Nepal  1992  20326209      Asia   55.727   897.740360
1077   Nepal  1997  23001113      Asia   59.426  1010.892138
1078   Nepal  2002  25873917      Asia   61.340  1057.206311
1079   Nepal  2007  28901790      Asia   63.785  1091.359778
--------------------
--------------------
          country  year       pop continent  lifeExp     gdpPercap
1080  Netherlands  1952  10381988    Europe    72.13   8941.571858
1081  Netherlands  1957  11026383    Europe    72.99  11276.193440
1082  Netherlands  1962  11805689    Europe    73.23  12790.849560
1083  Netherlands  1967  12596822    Europe    73.82  15363.251360
1084  Netherlands  1972  13329874    Europe    73.75  18794.745670
--------------------
--------------------
          country  year       pop continent  lifeExp    gdpPercap
1085  Netherlands  1977  13852989    Europe    75.24  21209.05920
1086  Netherlands  1982  14310401    Europe    76.05  21399.46046
1087  Netherlands  1987  14665278    Europe    76.83  23651.32361
1088  Netherlands  1992  15174244    Europe    77.42  26790.94961
1089  Netherlands  1997  15604464    Europe    78.03  30246.13063
--------------------
--------------------
          country  year       pop continent  lifeExp    gdpPercap
1090  Netherlands  2002  16122830    Europe   78.530  33724.75778
1091  Netherlands  2007  16570613    Europe   79.762  36797.93332
1092  New Zealand  1952   1994794   Oceania   69.390  10556.57566
1093  New Zealand  1957   2229407   Oceania   70.260  12247.39532
1094  New Zealand  1962   2488550   Oceania   71.240  13175.67800
--------------------
--------------------
          country  year      pop continent  lifeExp    gdpPercap
1095  New Zealand  1967  2728150   Oceania    71.52  14463.91893
1096  New Zealand  1972  2929100   Oceania    71.89  16046.03728
1097  New Zealand  1977  3164900   Oceania    72.22  16233.71770
1098  New Zealand  1982  3210650   Oceania    73.84  17632.41040
1099  New Zealand  1987  3317166   Oceania    74.32  19007.19129
--------------------
--------------------
          country  year      pop continent  lifeExp     gdpPercap
1100  New Zealand  1992  3437674   Oceania   76.330  18363.324940
1101  New Zealand  1997  3676187   Oceania   77.550  21050.413770
1102  New Zealand  2002  3908037   Oceania   79.110  23189.801350
1103  New Zealand  2007  4115771   Oceania   80.204  25185.009110
1104    Nicaragua  1952  1165790  Americas   42.314   3112.363948
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
1105  Nicaragua  1957  1358828  Americas   45.432  3457.415947
1106  Nicaragua  1962  1590597  Americas   48.632  3634.364406
1107  Nicaragua  1967  1865490  Americas   51.884  4643.393534
1108  Nicaragua  1972  2182908  Americas   55.151  4688.593267
1109  Nicaragua  1977  2554598  Americas   57.470  5486.371089
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
1110  Nicaragua  1982  2979423  Americas   59.298  3470.338156
1111  Nicaragua  1987  3344353  Americas   62.008  2955.984375
1112  Nicaragua  1992  4017939  Americas   65.843  2170.151724
1113  Nicaragua  1997  4609572  Americas   68.426  2253.023004
1114  Nicaragua  2002  5146848  Americas   70.836  2474.548819
--------------------
--------------------
        country  year      pop continent  lifeExp    gdpPercap
1115  Nicaragua  2007  5675356  Americas   72.899  2749.320965
1116      Niger  1952  3379468    Africa   37.444   761.879376
1117      Niger  1957  3692184    Africa   38.598   835.523403
1118      Niger  1962  4076008    Africa   39.487   997.766113
1119      Niger  1967  4534062    Africa   40.118  1054.384891
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
1120   Niger  1972  5060262    Africa   40.546  954.209236
1121   Niger  1977  5682086    Africa   41.291  808.897073
1122   Niger  1982  6437188    Africa   42.598  909.722135
1123   Niger  1987  7332638    Africa   44.555  668.300023
1124   Niger  1992  8392818    Africa   47.391  581.182725
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1125    Niger  1997   9666252    Africa   51.313   580.305209
1126    Niger  2002  11140655    Africa   54.496   601.074501
1127    Niger  2007  12894865    Africa   56.867   619.676892
1128  Nigeria  1952  33119096    Africa   36.324  1077.281856
1129  Nigeria  1957  37173340    Africa   37.802  1100.592563
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1130  Nigeria  1962  41871351    Africa   39.360  1150.927478
1131  Nigeria  1967  47287752    Africa   41.040  1014.514104
1132  Nigeria  1972  53740085    Africa   42.821  1698.388838
1133  Nigeria  1977  62209173    Africa   44.514  1981.951806
1134  Nigeria  1982  73039376    Africa   45.826  1576.973750
--------------------
--------------------
      country  year        pop continent  lifeExp    gdpPercap
1135  Nigeria  1987   81551520    Africa   46.886  1385.029563
1136  Nigeria  1992   93364244    Africa   47.472  1619.848217
1137  Nigeria  1997  106207839    Africa   47.464  1624.941275
1138  Nigeria  2002  119901274    Africa   46.608  1615.286395
1139  Nigeria  2007  135031164    Africa   46.859  2013.977305
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
1140  Norway  1952  3327728    Europe    72.67  10095.42172
1141  Norway  1957  3491938    Europe    73.44  11653.97304
1142  Norway  1962  3638919    Europe    73.47  13450.40151
1143  Norway  1967  3786019    Europe    74.08  16361.87647
1144  Norway  1972  3933004    Europe    74.34  18965.05551
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
1145  Norway  1977  4043205    Europe    75.37  23311.34939
1146  Norway  1982  4114787    Europe    75.97  26298.63531
1147  Norway  1987  4186147    Europe    75.89  31540.97480
1148  Norway  1992  4286357    Europe    77.32  33965.66115
1149  Norway  1997  4405672    Europe    78.32  41283.16433
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
1150  Norway  2002  4535591    Europe   79.050  44683.975250
1151  Norway  2007  4627926    Europe   80.196  49357.190170
1152    Oman  1952   507833      Asia   37.578   1828.230307
1153    Oman  1957   561977      Asia   40.080   2242.746551
1154    Oman  1962   628164      Asia   43.165   2924.638113
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
1155    Oman  1967   714775      Asia   46.988   4720.942687
1156    Oman  1972   829050      Asia   52.143  10618.038550
1157    Oman  1977  1004533      Asia   57.367  11848.343920
1158    Oman  1982  1301048      Asia   62.728  12954.791010
1159    Oman  1987  1593882      Asia   67.734  18115.223130
--------------------
--------------------
       country  year       pop continent  lifeExp     gdpPercap
1160      Oman  1992   1915208      Asia   71.197  18616.706910
1161      Oman  1997   2283635      Asia   72.499  19702.055810
1162      Oman  2002   2713462      Asia   74.193  19774.836870
1163      Oman  2007   3204897      Asia   75.640  22316.192870
1164  Pakistan  1952  41346560      Asia   43.436    684.597144
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
1165  Pakistan  1957  46679944      Asia   45.557   747.083529
1166  Pakistan  1962  53100671      Asia   47.670   803.342742
1167  Pakistan  1967  60641899      Asia   49.800   942.408259
1168  Pakistan  1972  69325921      Asia   51.929  1049.938981
1169  Pakistan  1977  78152686      Asia   54.043  1175.921193
--------------------
--------------------
       country  year        pop continent  lifeExp    gdpPercap
1170  Pakistan  1982   91462088      Asia   56.158  1443.429832
1171  Pakistan  1987  105186881      Asia   58.245  1704.686583
1172  Pakistan  1992  120065004      Asia   60.838  1971.829464
1173  Pakistan  1997  135564834      Asia   61.818  2049.350521
1174  Pakistan  2002  153403524      Asia   63.610  2092.712441
--------------------
--------------------
       country  year        pop continent  lifeExp    gdpPercap
1175  Pakistan  2007  169270617      Asia   65.483  2605.947580
1176    Panama  1952     940080  Americas   55.191  2480.380334
1177    Panama  1957    1063506  Americas   59.201  2961.800905
1178    Panama  1962    1215725  Americas   61.817  3536.540301
1179    Panama  1967    1405486  Americas   64.071  4421.009084
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
1180  Panama  1972  1616384  Americas   66.216  5364.249663
1181  Panama  1977  1839782  Americas   68.681  5351.912144
1182  Panama  1982  2036305  Americas   70.472  7009.601598
1183  Panama  1987  2253639  Americas   71.523  7034.779161
1184  Panama  1992  2484997  Americas   72.462  6618.743050
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
1185    Panama  1997  2734531  Americas   73.738  7113.692252
1186    Panama  2002  2990875  Americas   74.712  7356.031934
1187    Panama  2007  3242173  Americas   75.537  9809.185636
1188  Paraguay  1952  1555876  Americas   62.649  1952.308701
1189  Paraguay  1957  1770902  Americas   63.196  2046.154706
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
1190  Paraguay  1962  2009813  Americas   64.361  2148.027146
1191  Paraguay  1967  2287985  Americas   64.951  2299.376311
1192  Paraguay  1972  2614104  Americas   65.815  2523.337977
1193  Paraguay  1977  2984494  Americas   66.353  3248.373311

--------------------
          country  year       pop continent  lifeExp    gdpPercap
1215  Philippines  1967  35356600      Asia   56.393  1814.127430
1216  Philippines  1972  40850141      Asia   58.065  1989.374070
1217  Philippines  1977  46850962      Asia   60.060  2373.204287
1218  Philippines  1982  53456774      Asia   62.082  2603.273765
1219  Philippines  1987  60017788      Asia   64.151  2189.634995
--------------------
--------------------
          country  year       pop continent  lifeExp    gdpPercap
1220  Philippines  1992  67185766      Asia   66.458  2279.324017
1221  Philippines  1997  75012988      Asia   68.564  2536.534925
1222  Philippines  2002  82995088      Asia   70.303  2650.921068
1223  Philippines  2007  91077287      Asia   71.688  3190.481016
1224       Poland  1952  25730551    Europe   61.310  4029.329699
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1225  Poland  1957  28235346    Europe    65.77  4734.253019
1226  Poland  1962  30329617    Europe    67.64  5338.752143
1227  Poland  1967  31785378    Europe    69.61  6557.152776
1228  Poland  1972  33039545    Europe    70.85  8006.506993
1229  Poland  1977  34621254    Europe    70.67  9508.141454
--------------------
--------------------
     country  year       pop continent  lifeExp     gdpPercap
1230  Poland  1982  36227381    Europe    71.32   8451.531004
1231  Poland  1987  37740710    Europe    70.98   9082.351172
1232  Poland  1992  38370697    Europe    70.99   7738.881247
1233  Poland  1997  38654957    Europe    72.75  10159.583680
1234  Poland  2002  38625976    Europe    74.67  12002.239080
--------------------
--------------------
       country  year       pop continent  lifeExp     gdpPercap
1235    Poland  2007  38518241    Europe   75.563  15389.924680
1236  Portugal  1952   8526050    Europe   59.820   3068.319867
1237  Portugal  1957   8817650    Europe   61.510   3774.571743
1238  Portugal  1962   9019800    Europe   64.390   4727.954889
1239  Portugal  1967   9103000    Europe   66.600   6361.517993
--------------------
--------------------
       country  year      pop continent  lifeExp     gdpPercap
1240  Portugal  1972  8970450    Europe    69.26   9022.247417
1241  Portugal  1977  9662600    Europe    70.41  10172.485720
1242  Portugal  1982  9859650    Europe    72.77  11753.842910
1243  Portugal  1987  9915289    Europe    74.06  13039.308760
1244  Portugal  1992  9927680    Europe    74.86  16207.266630
--------------------
--------------------
          country  year       pop continent  lifeExp     gdpPercap
1245     Portugal  1997  10156415    Europe   75.970  17641.031560
1246     Portugal  2002  10433867    Europe   77.290  19970.907870
1247     Portugal  2007  10642836    Europe   78.098  20509.647770
1248  Puerto Rico  1952   2227000  Americas   64.280   3081.959785
1249  Puerto Rico  1957   2260000  Americas   68.540   3907.156189
--------------------
--------------------
          country  year      pop continent  lifeExp     gdpPercap
1250  Puerto Rico  1962  2448046  Americas    69.62   5108.344630
1251  Puerto Rico  1967  2648961  Americas    71.10   6929.277714
1252  Puerto Rico  1972  2847132  Americas    72.16   9123.041742
1253  Puerto Rico  1977  3080828  Americas    73.44   9770.524921
1254  Puerto Rico  1982  3279001  Americas    73.75  10330.989150
--------------------
--------------------
          country  year      pop continent  lifeExp    gdpPercap
1255  Puerto Rico  1987  3444468  Americas   74.630  12281.34191
1256  Puerto Rico  1992  3585176  Americas   73.911  14641.58711
1257  Puerto Rico  1997  3759430  Americas   74.917  16999.43330
1258  Puerto Rico  2002  3859606  Americas   77.778  18855.60618
1259  Puerto Rico  2007  3942491  Americas   78.746  19328.70901
--------------------
--------------------
      country  year     pop continent  lifeExp    gdpPercap
1260  Reunion  1952  257700    Africa   52.724  2718.885295
1261  Reunion  1957  308700    Africa   55.090  2769.451844
1262  Reunion  1962  358900    Africa   57.666  3173.723340
1263  Reunion  1967  414024    Africa   60.542  4021.175739
1264  Reunion  1972  461633    Africa   64.274  5047.658563
--------------------
--------------------
      country  year     pop continent  lifeExp    gdpPercap
1265  Reunion  1977  492095    Africa   67.064  4319.804067
1266  Reunion  1982  517810    Africa   69.885  5267.219353
1267  Reunion  1987  562035    Africa   71.913  5303.377488
1268  Reunion  1992  622191    Africa   73.615  6101.255823
1269  Reunion  1997  684810    Africa   74.772  6071.941411
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1270  Reunion  2002    743981    Africa   75.744  6316.165200
1271  Reunion  2007    798094    Africa   76.442  7670.122558
1272  Romania  1952  16630000    Europe   61.050  3144.613186
1273  Romania  1957  17829327    Europe   64.100  3943.370225
1274  Romania  1962  18680721    Europe   66.800  4734.997586
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1275  Romania  1967  19284814    Europe    66.80  6470.866545
1276  Romania  1972  20662648    Europe    69.21  8011.414402
1277  Romania  1977  21658597    Europe    69.46  9356.397240
1278  Romania  1982  22356726    Europe    69.66  9605.314053
1279  Romania  1987  22686371    Europe    69.53  9696.273295
--------------------
--------------------
      country  year       pop continent  lifeExp     gdpPercap
1280  Romania  1992  22797027    Europe   69.360   6598.409903
1281  Romania  1997  22562458    Europe   69.720   7346.547557
1282  Romania  2002  22404337    Europe   71.322   7885.360081
1283  Romania  2007  22276056    Europe   72.476  10808.475610
1284   Rwanda  1952   2534927    Africa   40.000    493.323875
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
1285  Rwanda  1957  2822082    Africa     41.5  540.289398
1286  Rwanda  1962  3051242    Africa     43.0  597.473073
1287  Rwanda  1967  3451079    Africa     44.1  510.963714
1288  Rwanda  1972  3992121    Africa     44.6  590.580664
1289  Rwanda  1977  4657072    Africa     45.0  670.080601
--------------------
--------------------
     country  year      pop continent  lifeExp   gdpPercap
1290  Rwanda  1982  5507565    Africa   46.218  881.570647
1291  Rwanda  1987  6349365    Africa   44.020  847.991217
1292  Rwanda  1992  7290203    Africa   23.599  737.068595
1293  Rwanda  1997  7212583    Africa   36.087  589.944505
1294  Rwanda  2002  7852401    Africa   43.413  785.653765
--------------------
--------------------
                    country  year      pop continent  lifeExp    gdpPercap
1295                 Rwanda  2007  8860588    Africa   46.242   863.088464
1296  Sao Tome and Principe  1952    60011    Africa   46.471   879.583586
1297  Sao Tome and Principe  1957    61325    Africa   48.945   860.736903
1298  Sao Tome and Principe  1962    65345    Africa   51.893  1071.551119
1299  Sao Tome and Principe  1967    70787    Africa   54.425  1384.840593
--------------------
--------------------
                    country  year     pop continent  lifeExp    gdpPercap
1300  Sao Tome and Principe  1972   76595    Africa   56.480  1532.985254
1301  Sao Tome and Principe  1977   86796    Africa   58.550  1737.561657
1302  Sao Tome and Principe  1982   98593    Africa   60.351  1890.218117
1303  Sao Tome and Principe  1987  110812    Africa   61.728  1516.525457
1304  Sao Tome and Principe  1992  125911    Africa   62.742  1428.777814
--------------------
--------------------
                    country  year      pop continent  lifeExp    gdpPercap
1305  Sao Tome and Principe  1997   145608    Africa   63.306  1339.076036
1306  Sao Tome and Principe  2002   170372    Africa   64.337  1353.092390
1307  Sao Tome and Principe  2007   199579    Africa   65.528  1598.435089
1308           Saudi Arabia  1952  4005677      Asia   39.875  6459.554823
1309           Saudi Arabia  1957  4419650      Asia   42.868  8157.591248
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1310  Saudi Arabia  1962   4943029      Asia   45.914  11626.41975
1311  Saudi Arabia  1967   5618198      Asia   49.901  16903.04886
1312  Saudi Arabia  1972   6472756      Asia   53.886  24837.42865
1313  Saudi Arabia  1977   8128505      Asia   58.690  34167.76260
1314  Saudi Arabia  1982  11254672      Asia   63.012  33693.17525
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1315  Saudi Arabia  1987  14619745      Asia   66.295  21198.26136
1316  Saudi Arabia  1992  16945857      Asia   68.768  24841.61777
1317  Saudi Arabia  1997  21229759      Asia   70.533  20586.69019
1318  Saudi Arabia  2002  24501530      Asia   71.626  19014.54118
1319  Saudi Arabia  2007  27601038      Asia   72.777  21654.83194
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1320  Senegal  1952  2755589    Africa   37.278  1450.356983
1321  Senegal  1957  3054547    Africa   39.329  1567.653006
1322  Senegal  1962  3430243    Africa   41.454  1654.988723
1323  Senegal  1967  3965841    Africa   43.563  1612.404632
1324  Senegal  1972  4588696    Africa   45.815  1597.712056
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1325  Senegal  1977  5260855    Africa   48.879  1561.769116
1326  Senegal  1982  6147783    Africa   52.379  1518.479984
1327  Senegal  1987  7171347    Africa   55.769  1441.720720
1328  Senegal  1992  8307920    Africa   58.196  1367.899369
1329  Senegal  1997  9535314    Africa   60.187  1392.368347
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1330  Senegal  2002  10870037    Africa   61.600  1519.635262
1331  Senegal  2007  12267493    Africa   63.062  1712.472136
1332   Serbia  1952   6860147    Europe   57.996  3581.459448
1333   Serbia  1957   7271135    Europe   61.685  4981.090891
1334   Serbia  1962   7616060    Europe   64.531  6289.629157
--------------------
--------------------
     country  year      pop continent  lifeExp     gdpPercap
1335  Serbia  1967  7971222    Europe   66.914   7991.707066
1336  Serbia  1972  8313288    Europe   68.700  10522.067490
1337  Serbia  1977  8686367    Europe   70.300  12980.669560
1338  Serbia  1982  9032824    Europe   70.162  15181.092700
1339  Serbia  1987  9230783    Europe   71.218  15870.878510
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1340        Serbia  1992   9826397    Europe   71.659  9325.068238
1341        Serbia  1997  10336594    Europe   72.232  7914.320304
1342        Serbia  2002  10111559    Europe   73.213  7236.075251
1343        Serbia  2007  10150265    Europe   74.002  9786.534714
1344  Sierra Leone  1952   2143249    Africa   30.331   879.787736
--------------------
--------------------
           country  year      pop continent  lifeExp    gdpPercap
1345  Sierra Leone  1957  2295678    Africa   31.570  1004.484437
1346  Sierra Leone  1962  2467895    Africa   32.767  1116.639877
1347  Sierra Leone  1967  2662190    Africa   34.113  1206.043465
1348  Sierra Leone  1972  2879013    Africa   35.400  1353.759762
1349  Sierra Leone  1977  3140897    Africa   36.788  1348.285159
--------------------
--------------------
           country  year      pop continent  lifeExp    gdpPercap
1350  Sierra Leone  1982  3464522    Africa   38.445  1465.010784
1351  Sierra Leone  1987  3868905    Africa   40.006  1294.447788
1352  Sierra Leone  1992  4260884    Africa   38.333  1068.696278
1353  Sierra Leone  1997  4578212    Africa   39.897   574.648158
1354  Sierra Leone  2002  5359092    Africa   41.012   699.489713
--------------------
--------------------
           country  year      pop continent  lifeExp    gdpPercap
1355  Sierra Leone  2007  6144562    Africa   42.568   862.540756
1356     Singapore  1952  1127000      Asia   60.396  2315.138227
1357     Singapore  1957  1445929      Asia   63.179  2843.104409
1358     Singapore  1962  1750200      Asia   65.798  3674.735572
1359     Singapore  1967  1977600      Asia   67.946  4977.418540
--------------------
--------------------
        country  year      pop continent  lifeExp     gdpPercap
1360  Singapore  1972  2152400      Asia   69.521   8597.756202
1361  Singapore  1977  2325300      Asia   70.795  11210.089480
1362  Singapore  1982  2651869      Asia   71.760  15169.161120
1363  Singapore  1987  2794552      Asia   73.560  18861.530810
1364  Singapore  1992  3235865      Asia   75.788  24769.891200
--------------------
--------------------
              country  year      pop continent  lifeExp     gdpPercap
1365        Singapore  1997  3802309      Asia   77.158  33519.476600
1366        Singapore  2002  4197776      Asia   78.770  36023.105400
1367        Singapore  2007  4553009      Asia   79.972  47143.179640
1368  Slovak Republic  1952  3558137    Europe   64.360   5074.659104
1369  Slovak Republic  1957  3844277    Europe   67.450   6093.262980
--------------------
--------------------
              country  year      pop continent  lifeExp     gdpPercap
1370  Slovak Republic  1962  4237384    Europe    70.33   7481.107598
1371  Slovak Republic  1967  4442238    Europe    70.98   8412.902397
1372  Slovak Republic  1972  4593433    Europe    70.35   9674.167626
1373  Slovak Republic  1977  4827803    Europe    70.45  10922.664040
1374  Slovak Republic  1982  5048043    Europe    70.80  11348.545850
--------------------
--------------------
              country  year      pop continent  lifeExp     gdpPercap
1375  Slovak Republic  1987  5199318    Europe   71.080  12037.267580
1376  Slovak Republic  1992  5302888    Europe   71.380   9498.467723
1377  Slovak Republic  1997  5383010    Europe   72.710  12126.230650
1378  Slovak Republic  2002  5410052    Europe   73.800  13638.778370
1379  Slovak Republic  2007  5447502    Europe   74.663  18678.314350
--------------------
--------------------
       country  year      pop continent  lifeExp     gdpPercap
1380  Slovenia  1952  1489518    Europe    65.57   4215.041741
1381  Slovenia  1957  1533070    Europe    67.85   5862.276629
1382  Slovenia  1962  1582962    Europe    69.15   7402.303395
1383  Slovenia  1967  1646912    Europe    69.18   9405.489397
1384  Slovenia  1972  1694510    Europe    69.82  12383.486200
--------------------
--------------------
       country  year      pop continent  lifeExp    gdpPercap
1385  Slovenia  1977  1746919    Europe   70.970  15277.03017
1386  Slovenia  1982  1861252    Europe   71.063  17866.72175
1387  Slovenia  1987  1945870    Europe   72.250  18678.53492
1388  Slovenia  1992  1999210    Europe   73.640  14214.71681
1389  Slovenia  1997  2011612    Europe   75.130  17161.10735
--------------------
--------------------
       country  year      pop continent  lifeExp     gdpPercap
1390  Slovenia  2002  2011497    Europe   76.660  20660.019360
1391  Slovenia  2007  2009245    Europe   77.926  25768.257590
1392   Somalia  1952  2526994    Africa   32.978   1135.749842
1393   Somalia  1957  2780415    Africa   34.977   1258.147413
1394   Somalia  1962  3080153    Africa   36.981   1369.488336
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1395  Somalia  1967  3428839    Africa   38.977  1284.733180
1396  Somalia  1972  3840161    Africa   40.973  1254.576127
1397  Somalia  1977  4353666    Africa   41.974  1450.992513
1398  Somalia  1982  5828892    Africa   42.955  1176.807031
1399  Somalia  1987  6921858    Africa   44.501  1093.244963
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1400       Somalia  1992   6099799    Africa   39.658   926.960296
1401       Somalia  1997   6633514    Africa   43.795   930.596428
1402       Somalia  2002   7753310    Africa   45.936   882.081822
1403       Somalia  2007   9118773    Africa   48.159   926.141068
1404  South Africa  1952  14264935    Africa   45.009  4725.295531
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1405  South Africa  1957  16151549    Africa   47.985  5487.104219
1406  South Africa  1962  18356657    Africa   49.951  5768.729717
1407  South Africa  1967  20997321    Africa   51.927  7114.477971
1408  South Africa  1972  23935810    Africa   53.696  7765.962636
1409  South Africa  1977  27129932    Africa   55.527  8028.651439
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1410  South Africa  1982  31140029    Africa   58.161  8568.266228
1411  South Africa  1987  35933379    Africa   60.834  7825.823398
1412  South Africa  1992  39964159    Africa   61.888  7225.069258
1413  South Africa  1997  42835005    Africa   60.236  7479.188244
1414  South Africa  2002  44433622    Africa   53.365  7710.946444
--------------------
--------------------
           country  year       pop continent  lifeExp    gdpPercap
1415  South Africa  2007  43997828    Africa   49.339  9269.657808
1416         Spain  1952  28549870    Europe   64.940  3834.034742
1417         Spain  1957  29841614    Europe   66.660  4564.802410
1418         Spain  1962  31158061    Europe   69.690  5693.843879
1419         Spain  1967  32850275    Europe   71.440  7993.512294
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1420   Spain  1972  34513161    Europe    73.06  10638.75131
1421   Spain  1977  36439000    Europe    74.39  13236.92117
1422   Spain  1982  37983310    Europe    76.30  13926.16997
1423   Spain  1987  38880702    Europe    76.90  15764.98313
1424   Spain  1992  39549438    Europe    77.57  18603.06452
--------------------
--------------------
        country  year       pop continent  lifeExp     gdpPercap
1425      Spain  1997  39855442    Europe   78.770  20445.298960
1426      Spain  2002  40152517    Europe   79.780  24835.471660
1427      Spain  2007  40448191    Europe   80.941  28821.063700
1428  Sri Lanka  1952   7982342      Asia   57.593   1083.532030
1429  Sri Lanka  1957   9128546      Asia   61.456   1072.546602
--------------------
--------------------
        country  year       pop continent  lifeExp    gdpPercap
1430  Sri Lanka  1962  10421936      Asia   62.192  1074.471960
1431  Sri Lanka  1967  11737396      Asia   64.266  1135.514326
1432  Sri Lanka  1972  13016733      Asia   65.042  1213.395530
1433  Sri Lanka  1977  14116836      Asia   65.949  1348.775651
1434  Sri Lanka  1982  15410151      Asia   68.757  1648.079789
--------------------
--------------------
        country  year       pop continent  lifeExp    gdpPercap
1435  Sri Lanka  1987  16495304      Asia   69.011  1876.766827
1436  Sri Lanka  1992  17587060      Asia   70.379  2153.739222
1437  Sri Lanka  1997  18698655      Asia   70.457  2664.477257
1438  Sri Lanka  2002  19576783      Asia   70.815  3015.378833
1439  Sri Lanka  2007  20378239      Asia   72.396  3970.095407
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1440   Sudan  1952   8504667    Africa   38.635  1615.991129
1441   Sudan  1957   9753392    Africa   39.624  1770.337074
1442   Sudan  1962  11183227    Africa   40.870  1959.593767
1443   Sudan  1967  12716129    Africa   42.858  1687.997641
1444   Sudan  1972  14597019    Africa   45.083  1659.652775
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1445   Sudan  1977  17104986    Africa   47.800  2202.988423

--------------------
     country  year      pop continent  lifeExp    gdpPercap
1490   Syria  1962  4834621      Asia   50.305  2193.037133
1491   Syria  1967  5680812      Asia   53.655  1881.923632
1492   Syria  1972  6701172      Asia   57.296  2571.423014
1493   Syria  1977  7932503      Asia   61.195  3195.484582
1494   Syria  1982  9410494      Asia   64.590  3761.837715
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1495   Syria  1987  11242847      Asia   66.974  3116.774285
1496   Syria  1992  13219062      Asia   69.249  3340.542768
1497   Syria  1997  15081016      Asia   71.527  4014.238972
1498   Syria  2002  17155814      Asia   73.053  4090.925331
1499   Syria  2007  19314747      Asia   74.143  4184.548089
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1500  Taiwan  1952   8550362      Asia    58.50  1206.947913
1501  Taiwan  1957  10164215      Asia    62.40  1507.861290
1502  Taiwan  1962  11918938      Asia    65.20  1822.879028
1503  Taiwan  1967  13648692      Asia    67.50  2643.858681
1504  Taiwan  1972  15226039      Asia    69.39  4062.523897
--------------------
--------------------
     country  year       pop continent  lifeExp     gdpPercap
1505  Taiwan  1977  16785196      Asia    70.59   5596.519826
1506  Taiwan  1982  18501390      Asia    72.16   7426.354774
1507  Taiwan  1987  19757799      Asia    73.40  11054.561750
1508  Taiwan  1992  20686918      Asia    74.26  15215.657900
1509  Taiwan  1997  21628605      Asia    75.25  20206.820980
--------------------
--------------------
       country  year       pop continent  lifeExp     gdpPercap
1510    Taiwan  2002  22454239      Asia   76.990  23235.423290
1511    Taiwan  2007  23174294      Asia   78.400  28718.276840
1512  Tanzania  1952   8322925    Africa   41.215    716.650072
1513  Tanzania  1957   9452826    Africa   42.974    698.535607
1514  Tanzania  1962  10863958    Africa   44.246    722.003807
--------------------
--------------------
       country  year       pop continent  lifeExp   gdpPercap
1515  Tanzania  1967  12607312    Africa   45.757  848.218657
1516  Tanzania  1972  14706593    Africa   47.620  915.985059
1517  Tanzania  1977  17129565    Africa   49.919  962.492293
1518  Tanzania  1982  19844382    Africa   50.608  874.242607
1519  Tanzania  1987  23040630    Africa   51.535  831.822079
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
1520  Tanzania  1992  26605473    Africa   50.440   825.682454
1521  Tanzania  1997  30686889    Africa   48.466   789.186223
1522  Tanzania  2002  34593779    Africa   49.651   899.074211
1523  Tanzania  2007  38139640    Africa   52.517  1107.482182
1524  Thailand  1952  21289402      Asia   50.848   757.797418
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
1525  Thailand  1957  25041917      Asia   53.630   793.577415
1526  Thailand  1962  29263397      Asia   56.061  1002.199172
1527  Thailand  1967  34024249      Asia   58.285  1295.460660
1528  Thailand  1972  39276153      Asia   60.405  1524.358936
1529  Thailand  1977  44148285      Asia   62.494  1961.224635
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
1530  Thailand  1982  48827160      Asia   64.597  2393.219781
1531  Thailand  1987  52910342      Asia   66.084  2982.653773
1532  Thailand  1992  56667095      Asia   67.298  4616.896545
1533  Thailand  1997  60216677      Asia   67.521  5852.625497
1534  Thailand  2002  62806748      Asia   68.564  5913.187529
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
1535  Thailand  2007  65068149      Asia   70.616  7458.396327
1536      Togo  1952   1219113    Africa   38.596   859.808657
1537      Togo  1957   1357445    Africa   41.208   925.908320
1538      Togo  1962   1528098    Africa   43.922  1067.534810
1539      Togo  1967   1735550    Africa   46.769  1477.596760
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
1540    Togo  1972  2056351    Africa   49.759  1649.660188
1541    Togo  1977  2308582    Africa   52.887  1532.776998
1542    Togo  1982  2644765    Africa   55.471  1344.577953
1543    Togo  1987  3154264    Africa   56.941  1202.201361
1544    Togo  1992  3747553    Africa   58.061  1034.298904
--------------------
--------------------
                  country  year      pop continent  lifeExp    gdpPercap
1545                 Togo  1997  4320890    Africa   58.390   982.286924
1546                 Togo  2002  4977378    Africa   57.561   886.220577
1547                 Togo  2007  5701579    Africa   58.420   882.969944
1548  Trinidad and Tobago  1952   662850  Americas   59.100  3023.271928
1549  Trinidad and Tobago  1957   764900  Americas   61.800  4100.393400
--------------------
--------------------
                  country  year      pop continent  lifeExp    gdpPercap
1550  Trinidad and Tobago  1962   887498  Americas   64.900  4997.523971
1551  Trinidad and Tobago  1967   960155  Americas   65.400  5621.368472
1552  Trinidad and Tobago  1972   975199  Americas   65.900  6619.551419
1553  Trinidad and Tobago  1977  1039009  Americas   68.300  7899.554209
1554  Trinidad and Tobago  1982  1116479  Americas   68.832  9119.528607
--------------------
--------------------
                  country  year      pop continent  lifeExp     gdpPercap
1555  Trinidad and Tobago  1987  1191336  Americas   69.582   7388.597823
1556  Trinidad and Tobago  1992  1183669  Americas   69.862   7370.990932
1557  Trinidad and Tobago  1997  1138101  Americas   69.465   8792.573126
1558  Trinidad and Tobago  2002  1101832  Americas   68.976  11460.600230
1559  Trinidad and Tobago  2007  1056608  Americas   69.819  18008.509240
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1560  Tunisia  1952  3647735    Africa   44.600  1468.475631
1561  Tunisia  1957  3950849    Africa   47.100  1395.232468
1562  Tunisia  1962  4286552    Africa   49.579  1660.303210
1563  Tunisia  1967  4786986    Africa   52.053  1932.360167
1564  Tunisia  1972  5303507    Africa   55.602  2753.285994
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1565  Tunisia  1977  6005061    Africa   59.837  3120.876811
1566  Tunisia  1982  6734098    Africa   64.048  3560.233174
1567  Tunisia  1987  7724976    Africa   66.894  3810.419296
1568  Tunisia  1992  8523077    Africa   70.001  4332.720164
1569  Tunisia  1997  9231669    Africa   71.973  4876.798614
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1570  Tunisia  2002   9770575    Africa   73.042  5722.895655
1571  Tunisia  2007  10276158    Africa   73.923  7092.923025
1572   Turkey  1952  22235677    Europe   43.585  1969.100980
1573   Turkey  1957  25670939    Europe   48.079  2218.754257
1574   Turkey  1962  29788695    Europe   52.098  2322.869908
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1575  Turkey  1967  33411317    Europe   54.336  2826.356387
1576  Turkey  1972  37492953    Europe   57.005  3450.696380
1577  Turkey  1977  42404033    Europe   59.507  4269.122326
1578  Turkey  1982  47328791    Europe   61.036  4241.356344
1579  Turkey  1987  52881328    Europe   63.108  5089.043686
--------------------
--------------------
     country  year       pop continent  lifeExp    gdpPercap
1580  Turkey  1992  58179144    Europe   66.146  5678.348271
1581  Turkey  1997  63047647    Europe   68.835  6601.429915
1582  Turkey  2002  67308928    Europe   70.845  6508.085718
1583  Turkey  2007  71158647    Europe   71.777  8458.276384
1584  Uganda  1952   5824797    Africa   39.978   734.753484
--------------------
--------------------
     country  year       pop continent  lifeExp   gdpPercap
1585  Uganda  1957   6675501    Africa   42.571  774.371069
1586  Uganda  1962   7688797    Africa   45.344  767.271740
1587  Uganda  1967   8900294    Africa   48.051  908.918522
1588  Uganda  1972  10190285    Africa   51.016  950.735869
1589  Uganda  1977  11457758    Africa   50.350  843.733137
--------------------
--------------------
     country  year       pop continent  lifeExp   gdpPercap
1590  Uganda  1982  12939400    Africa   49.849  682.266227
1591  Uganda  1987  15283050    Africa   51.509  617.724406
1592  Uganda  1992  18252190    Africa   48.825  644.170797
1593  Uganda  1997  21210254    Africa   44.578  816.559081
1594  Uganda  2002  24739869    Africa   47.813  927.721002
--------------------
--------------------
             country  year       pop continent  lifeExp     gdpPercap
1595          Uganda  2007  29170398    Africa   51.542   1056.380121
1596  United Kingdom  1952  50430000    Europe   69.180   9979.508487
1597  United Kingdom  1957  51430000    Europe   70.420  11283.177950
1598  United Kingdom  1962  53292000    Europe   70.760  12477.177070
1599  United Kingdom  1967  54959000    Europe   71.360  14142.850890
--------------------
--------------------
             country  year       pop continent  lifeExp    gdpPercap
1600  United Kingdom  1972  56079000    Europe   72.010  15895.11641
1601  United Kingdom  1977  56179000    Europe   72.760  17428.74846
1602  United Kingdom  1982  56339704    Europe   74.040  18232.42452
1603  United Kingdom  1987  56981620    Europe   75.007  21664.78767
1604  United Kingdom  1992  57866349    Europe   76.420  22705.09254
--------------------
--------------------
             country  year        pop continent  lifeExp    gdpPercap
1605  United Kingdom  1997   58808266    Europe   77.218  26074.53136
1606  United Kingdom  2002   59912431    Europe   78.471  29478.99919
1607  United Kingdom  2007   60776238    Europe   79.425  33203.26128
1608   United States  1952  157553000  Americas   68.440  13990.48208
1609   United States  1957  171984000  Americas   69.490  14847.12712
--------------------
--------------------
            country  year        pop continent  lifeExp    gdpPercap
1610  United States  1962  186538000  Americas    70.21  16173.14586
1611  United States  1967  198712000  Americas    70.76  19530.36557
1612  United States  1972  209896000  Americas    71.34  21806.03594
1613  United States  1977  220239000  Americas    73.38  24072.63213
1614  United States  1982  232187835  Americas    74.65  25009.55914
--------------------
--------------------
            country  year        pop continent  lifeExp    gdpPercap
1615  United States  1987  242803533  Americas   75.020  29884.35041
1616  United States  1992  256894189  Americas   76.090  32003.93224
1617  United States  1997  272911760  Americas   76.810  35767.43303
1618  United States  2002  287675526  Americas   77.310  39097.09955
1619  United States  2007  301139947  Americas   78.242  42951.65309
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1620  Uruguay  1952  2252965  Americas   66.071  5716.766744
1621  Uruguay  1957  2424959  Americas   67.044  6150.772969
1622  Uruguay  1962  2598466  Americas   68.253  5603.357717
1623  Uruguay  1967  2748579  Americas   68.468  5444.619620
1624  Uruguay  1972  2829526  Americas   68.673  5703.408898
--------------------
--------------------
      country  year      pop continent  lifeExp    gdpPercap
1625  Uruguay  1977  2873520  Americas   69.481  6504.339663
1626  Uruguay  1982  2953997  Americas   70.805  6920.223051
1627  Uruguay  1987  3045153  Americas   71.918  7452.398969
1628  Uruguay  1992  3149262  Americas   72.752  8137.004775
1629  Uruguay  1997  3262838  Americas   74.223  9230.240708
--------------------
--------------------
        country  year      pop continent  lifeExp     gdpPercap
1630    Uruguay  2002  3363085  Americas   75.307   7727.002004
1631    Uruguay  2007  3447496  Americas   76.384  10611.462990
1632  Venezuela  1952  5439568  Americas   55.088   7689.799761
1633  Venezuela  1957  6702668  Americas   57.907   9802.466526
1634  Venezuela  1962  8143375  Americas   60.770   8422.974165
--------------------
--------------------
        country  year       pop continent  lifeExp     gdpPercap
1635  Venezuela  1967   9709552  Americas   63.479   9541.474188
1636  Venezuela  1972  11515649  Americas   65.712  10505.259660
1637  Venezuela  1977  13503563  Americas   67.456  13143.950950
1638  Venezuela  1982  15620766  Americas   68.557  11152.410110
1639  Venezuela  1987  17910182  Americas   70.190   9883.584648
--------------------
--------------------
        country  year       pop continent  lifeExp     gdpPercap
1640  Venezuela  1992  20265563  Americas   71.150  10733.926310
1641  Venezuela  1997  22374398  Americas   72.146  10165.495180
1642  Venezuela  2002  24287670  Americas   72.766   8605.047831
1643  Venezuela  2007  26084662  Americas   73.747  11415.805690
1644    Vietnam  1952  26246839      Asia   40.412    605.066492
--------------------
--------------------
      country  year       pop continent  lifeExp   gdpPercap
1645  Vietnam  1957  28998543      Asia   42.887  676.285448
1646  Vietnam  1962  33796140      Asia   45.363  772.049160
1647  Vietnam  1967  39463910      Asia   47.838  637.123289
1648  Vietnam  1972  44655014      Asia   50.254  699.501644
1649  Vietnam  1977  50533506      Asia   55.764  713.537120
--------------------
--------------------
      country  year       pop continent  lifeExp    gdpPercap
1650  Vietnam  1982  56142181      Asia   58.816   707.235786
1651  Vietnam  1987  62826491      Asia   62.820   820.799445
1652  Vietnam  1992  69940728      Asia   67.662   989.023149
1653  Vietnam  1997  76048996      Asia   70.672  1385.896769
1654  Vietnam  2002  80908147      Asia   73.017  1764.456677
--------------------
--------------------
                 country  year       pop continent  lifeExp    gdpPercap
1655             Vietnam  2007  85262356      Asia   74.249  2441.576404
1656  West Bank and Gaza  1952   1030585      Asia   43.160  1515.592329
1657  West Bank and Gaza  1957   1070439      Asia   45.671  1827.067742
1658  West Bank and Gaza  1962   1133134      Asia   48.127  2198.956312
1659  West Bank and Gaza  1967   1142636      Asia   51.631  2649.715007
--------------------
--------------------
                 country  year      pop continent  lifeExp    gdpPercap
1660  West Bank and Gaza  1972  1089572      Asia   56.532  3133.409277
1661  West Bank and Gaza  1977  1261091      Asia   60.765  3682.831494
1662  West Bank and Gaza  1982  1425876      Asia   64.406  4336.032082
1663  West Bank and Gaza  1987  1691210      Asia   67.046  5107.197384
1664  West Bank and Gaza  1992  2104779      Asia   69.718  6017.654756
--------------------
--------------------
                 country  year      pop continent  lifeExp    gdpPercap
1665  West Bank and Gaza  1997  2826046      Asia   71.096  7110.667619
1666  West Bank and Gaza  2002  3389578      Asia   72.370  4515.487575
1667  West Bank and Gaza  2007  4018332      Asia   73.422  3025.349798
1668          Yemen Rep.  1952  4963829      Asia   32.548   781.717576
1669          Yemen Rep.  1957  5498090      Asia   33.970   804.830455
--------------------
--------------------
         country  year      pop continent  lifeExp    gdpPercap
1670  Yemen Rep.  1962  6120081      Asia   35.180   825.623201
1671  Yemen Rep.  1967  6740785      Asia   36.984   862.442146
1672  Yemen Rep.  1972  7407075      Asia   39.848  1265.047031
1673  Yemen Rep.  1977  8403990      Asia   44.175  1829.765177
1674  Yemen Rep.  1982  9657618      Asia   49.113  1977.557010
--------------------
--------------------
         country  year       pop continent  lifeExp    gdpPercap
1675  Yemen Rep.  1987  11219340      Asia   52.922  1971.741538
1676  Yemen Rep.  1992  13367997      Asia   55.599  1879.496673
1677  Yemen Rep.  1997  15826497      Asia   58.020  2117.484526
1678  Yemen Rep.  2002  18701257      Asia   60.308  2234.820827
1679  Yemen Rep.  2007  22211743      Asia   62.698  2280.769906
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
1680  Zambia  1952  2672000    Africa   42.038  1147.388831
1681  Zambia  1957  3016000    Africa   44.077  1311.956766
1682  Zambia  1962  3421000    Africa   46.023  1452.725766
1683  Zambia  1967  3900000    Africa   47.768  1777.077318
1684  Zambia  1972  4506497    Africa   50.107  1773.498265
--------------------
--------------------
     country  year      pop continent  lifeExp    gdpPercap
1685  Zambia  1977  5216550    Africa   51.386  1588.688299
1686  Zambia  1982  6100407    Africa   51.821  1408.678565
1687  Zambia  1987  7272406    Africa   50.821  1213.315116
1688  Zambia  1992  8381163    Africa   46.100  1210.884633
1689  Zambia  1997  9417789    Africa   40.238  1071.353818
--------------------
--------------------
       country  year       pop continent  lifeExp    gdpPercap
1690    Zambia  2002  10595811    Africa   39.193  1071.613938
1691    Zambia  2007  11746035    Africa   42.384  1271.211593
1692  Zimbabwe  1952   3080907    Africa   48.451   406.884115
1693  Zimbabwe  1957   3646340    Africa   50.469   518.764268
1694  Zimbabwe  1962   4277736    Africa   52.358   527.272182
--------------------
--------------------
       country  year      pop continent  lifeExp   gdpPercap
1695  Zimbabwe  1967  4995432    Africa   53.995  569.795071
1696  Zimbabwe  1972  5861135    Africa   55.635  799.362176
1697  Zimbabwe  1977  6642107    Africa   57.674  685.587682
1698  Zimbabwe  1982  7636524    Africa   60.363  788.855041
1699  Zimbabwe  1987  9216418    Africa   62.351  706.157306
--------------------
--------------------
       country  year       pop continent  lifeExp   gdpPercap
1700  Zimbabwe  1992  10704340    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143    Africa   43.487  469.709298
--------------------